<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增bom列表')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
    <th:block th:include="include :: bootstrap-editable-css" />
    <link th:href="@{/css/jquery.editable-select.css}" rel="stylesheet" type="text/css" />


</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <h4 class="form-header h4">基本信息</h4>
        <form class="form-horizontal m" id="form-bom-add">



            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">编号
                            ：</label>
                        <div class="col-sm-8">
                            <input name="number" required id="number" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">版本
                            ：</label>
                        <div class="col-sm-8">
                            <input name="version" required id="version" class="form-control" type="text">                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">名称：</label>
                    <div class="col-sm-8">
                        <input name="name" required id="name" class="form-control" type="text">
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">描述：</label>
                        <div class="col-sm-8">
                            <input name="description" id="description" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">型号：</label>
                    <div class="col-sm-8">
                        <input name="partnumber" required id="partnumber" class="form-control" type="text">
                    </div>
                </div>
                </div>

                <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">发布状态：</label>
                    <div class="col-sm-8">
                        <select name="publishstatus" id="publishstatus" class="form-control m-b" th:with="type=${@dict.getType('publishstatus')}">
                            <option value=""></option>

                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
                        </select>
                    </div>
                </div>
                </div>

                <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">所属项目：</label>
                    <div class="col-sm-8">
                        <select name="project" id="project" class="form-control m-b" >
                            <option value=""></option>

                            <option th:each="project : ${projectList}" th:text="${project.name}" th:value="${project.name}"></option>
                        </select>
                    </div>
                </div>
                </div>

                <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">产品大类：</label>
                    <div class="col-sm-8">
                        <select name="producttype" id="producttype" class="form-control m-b" th:with="type=${@dict.getType('producttype')}">
                            <option value=""></option>

                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
                        </select>
                    </div>
                </div>
                </div>

                <div class="col-sm-6">

                <div class="form-group">
                    <label class="col-sm-3 control-label">价格：</label>
                    <div class="col-sm-8">
                        <input name="price" readonly id="price" class="form-control" type="text">
                    </div>
                </div>
                </div>

                <div class="col-sm-6">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">设计者：</label>
                        <div class="col-sm-8">

                            <select name="designer" id="designer" class="form-control m-b" th:with="type=${@dict.getType('bomuser')}">
                                <option value=""></option>

                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
                            </select>
                        </div>
                    </div>

                </div>


                <div class="col-sm-6">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">检查者：</label>
                        <div class="col-sm-8">

                            <select name="scrutineer" id="scrutineer" class="form-control m-b" th:with="type=${@dict.getType('bomuser')}">
                                <option value=""></option>

                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
                            </select>
                        </div>
                    </div>

                </div>



                <div class="col-sm-6">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">批准者：</label>
                        <div class="col-sm-8">

                            <select name="approver" id="approver" class="form-control m-b" th:with="type=${@dict.getType('bomuser')}">
                                <option value=""></option>

                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
                            </select>
                        </div>
                    </div>

                </div>


                <div class="col-sm-6">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">制作时间：</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input name="timeofmaking" id="timeofmaking" class="form-control" placeholder="yyyy-MM-dd" type="text">
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-sm-6">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">检查时间：</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input name="inspectiontime" id="inspectiontime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">批准时间：</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input name="approvaltime" id="approvaltime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注：</label>
                        <div class="col-sm-8">
                            <input name="remark" id="remark" class="form-control" type="text">
                        </div>
                    </div>
                </div>


            </div>

        </form>
    </div>
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="form2">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>物料编码：</label>
                            <input type="text" id="materialcode" name="materialcode"/>
                        </li>

                        <li>
                            <label>型号：</label>
                            <input type="text" id="spartnumber" name="partnumber"/>
                        </li>
                        <li>
                            <label>封装：</label>
                            <input type="text" id="footprint" name="footprint"/>
                        </li>
                        <li>
                            <label>描述：</label>
                            <input type="text" id="descriptions" name="description"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="query()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('form2', 'bootstrap-table2')"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    <div class="container-div">
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="downloadFile()">
                <i class="fa fa-download"></i> 模板下载
            </a>
            <a class="btn btn-danger " onclick="removeRow()">
                <i class="fa fa-remove"></i> 删除选择行
            </a>

            <a class="btn btn-danger" onclick="removeRowAll()">
                <i class="fa fa-remove"></i> 删除所有行
            </a>
            <a class="btn btn-info" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-upload"></i> 导入
            </a>




        </div>
    </div>


        <div  class="col-xs-12 select-table table-bordered" >
            <table id="bootstrap-table2" ></table>
        </div>

    <div class="col-sm-12 select-table table-bordered" style="margin-bottom: 1%">
        <table id="bootstrap-table" ></table>
    </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">导入</h4>
                    </div>

                    <input id="filePath" name="accessory"   class="form-control" type="file">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" onclick="sendFile()" class="btn btn-primary">提交</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>




        <div class="row">
            <div class="col-sm-offset-5 col-sm-10">
                <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
                <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
            </div>
        </div>
    </div>
        <th:block th:include="include :: footer" />
        <th:block th:include="include :: layout-latest-js" />
        <th:block th:include="include :: ztree-js" />
        <th:block th:include="include :: bootstrap-table-editable-js" />
        <script type="text/javascript" th:src="@{/js/jquery.editable-select.js}"></script>
        <th:block th:include="include :: datetimepicker-js" />
        <script type="text/javascript">
        var prefix = ctx + "system/bom"


        var prefix1=ctx + "system/bomdetail";
        var prefix2=ctx + "system/storage";




        function  query() {
            $('#bootstrap-table2').bootstrapTable('destroy');
            var options1 = {
                id: "bootstrap-table2",
                toolbar: "toolbar2",
                url: prefix2 + "/list",
                modalName: "物料列表",
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showColumns: false,
                showToggle: false,
                queryParams : {
                    materialcode: $("#materialcode").val(),
                    footprint: $("#footprint").val(),
                    partnumber: $("#spartnumber").val(),
                    description:$("#descriptions").val()
                },
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'id',
                        title: 'null',
                        visible: false
                    },
                    {
                        field: 'materialcode',
                        title: '编码'
                    },
                    {
                        field: 'name',
                        title: '名称'
                    },

                    {
                        field: 'partnumber',
                        title: '型号'
                    },
                    {
                        field: 'unit',
                        title: '单位'
                    },
                    {
                        field: 'stocks',
                        title: '库存量'
                    },

                    {
                        field: 'footprint',
                        title: '封装'
                    },
                    {
                        field: 'manufacture',
                        title: '品牌'
                    },


                    {
                        field: 'supplier',
                        title: '供应商'
                    },
                    {
                        field: 'serialNumber',
                        title: '序列号'
                    },

                    {
                        field: 'description',
                        title: '描述'


                    },
                ]
            };
            $.table.init(options1);
        }

        $(function() {








            $.ajax({
                url : prefix1+'/clearbomDetailList',
                dataType : 'json',
                type : 'get',
                success : function(data) {

                }
            });





            var options = {
                toolbar: "toolbar",
                url: prefix1 + "/listimport",
                importUrl: prefix1 + "/importData",
                importTemplateUrl: prefix1 + "/importTemplate",
                pagination:false,
                showSearch: false,
                showRefresh:false,
                showColumns:false,
                showToggle:false,
                fixedColumns: true,
                modalName: "bom详细清单",
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'no',
                        title: '序号'
                    },
                    {
                        field: 'code',
                        title: '物料编码',
                        editable : {
                            type : 'text',
                            title : '主物料编码'
                        }
                    },
                    {
                        field: 'price',
                        title: '价格'
                    },

                    {
                        field: 'comment',
                        title: 'comment(元件)'
                    },
                    {
                        field: 'link',
                        title: 'link(参考购买链接)'
                    },
                    {
                        field: 'footprint',
                        title: 'footprint(封装)'
                    },
                    {
                        field: 'description',
                        title: 'description(描述)'
                    },
                    {
                        field: 'parttype',
                        title: 'parttype(型号)'
                    },
                    {
                        field: 'designator',
                        title: 'designator(位号)'
                    },
                    {
                        field: 'quantity',
                        title: 'quantity(数量)'

                    }




                ]

            };
            $.table.init(options);





        });






        /** 将text中的html字符转义， 仅转义  ', ", <, > 四个字符
         * @param  { String } str 需要转义的字符串
         * @returns { String }     转义后的字符串
         */
      function  unhtml(str) {
            return str ? str.replace(/[<">']/g, (a) => {
                            return {
                                '<': '&lt;',
                                '"': '&quot;',
                                '>': '&gt;',
                                "'": '&#39;'
                            }[a]
                         }) : '';
      }

        function submitHandler() {


            if ($.validate.form()) {


                var data = $("#bootstrap-table" ).bootstrapTable('getData');
               for (var i=0;i<data.length;i++){
                   data[i].comment=unhtml(data[i].comment);
                   data[i].footprint= unhtml(data[i].footprint)
                   data[i].description= unhtml(data[i].description);
                   data[i].parttype= unhtml(data[i].parttype);
                   data[i].designator=unhtml(data[i].designator);
               }




                if(data==null||data.length==0){
                    $.modal.alertWarning("请填写bom产品!");
                    return;
                }


                $.ajax({
                    url:  ctx + "system/bom/add",
                    type: "post",
                    dataType: "json",
                    beforeSend: function () {
                        $.modal.loading("正在处理中，请稍后...");
                    },
                    data: {
                        "bomList": JSON.stringify(data),
                        "number": $("#number").val(),
                        "version": $("#version").val(),
                        "name": $("#name").val(),
                        "description": $("#description").val(),
                        "partnumber": $("#partnumber").val(),
                        "project": $("#project").val(),
                        "producttype": $("#producttype").val(),
                        "price": $("#price").val(),
                        "designer": $("#designer").val(),
                        "scrutineer": $("#scrutineer").val(),
                        "approver": $("#approver").val(),
                        "timeofmaking": $("#timeofmaking").val(),
                        "inspectiontime": $("#inspectiontime").val(),
                        "approvaltime": $("#approvaltime").val(),
                        "remark": $("#remark").val(),
                        "publishstatus":$("#publishstatus").val()

                    },
                    success: function(result) {
                        if (typeof callback == "function") {
                            callback(result);
                        }
                        $.operate.successTabCallback(result);
                    }
                })
            };
             $.modal.alertWarning("请填写完整信息!");
        }



        function removeRow(){
            var ids = $.table.selectColumns("no");
            if (ids.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $("#" + table.options.id).bootstrapTable('remove', {
                field: 'no',
                values: ids
            })

        }

        /* 删除所有表格行 */
        function removeRowAll(){

            $("#" + table.options.id).bootstrapTable('removeAll')

        }

        function insertRow(){
            var data = $("#bootstrap-table").bootstrapTable('getData');
            $("#bootstrap-table").bootstrapTable('insertRow', {
                index: data.length, // 你想插入到哪，0表示第一行
                row: {
                    materialcode:"",
                    count:"0",
                    comments:""
                }
            })
        }




        function initinsertRow(){

            $("#bootstrap-table").bootstrapTable('insertRow', {
                index: 0, // 你想插入到哪，0表示第一行
                row: {
                    materialcode:"",
                    count:"0",
                    comments:""
                }
            })
        }


        function downloadFile(){
            window.location.href = ctx + "common/download/resource?resource=/profile/template/BOM_Template.xlsx" ;
        }
        
        

        




        $("#form-bom-add").validate({
            focusCleanup: true
        });


        $("input[name='timeofmaking']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='inspectiontime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='approvaltime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });


        function sendFile() {
            var data = new FormData();
            data.append('file', $('#filePath')[0].files[0]);
            $.ajax({
                type: "POST",
                url: prefix1 + "/importData",
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function(result) {
                    $('#myModal').modal('hide');
                    $("#bootstrap-table").bootstrapTable('refresh');
                    $.modal.alertSuccess(result.msg);

                },
                error: function(error) {
                    $.modal.alertWarning("上传失败。");
                }
            });
        }


        </script>




</body>
</html>