<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增bom列表')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
    <th:block th:include="include :: bootstrap-editable-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <h4 class="form-header h4">基本信息</h4>
        <form class="form-horizontal m" id="form-bom-add">



            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">编号
                            ：</label>
                        <div class="col-sm-8">
                            <input name="number" required id="number" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">版本
                            ：</label>
                        <div class="col-sm-8">
                            <input name="version" required id="version" class="form-control" type="text">                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">名称：</label>
                    <div class="col-sm-8">
                        <input name="name" required id="name" class="form-control" type="text">
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">描述：</label>
                        <div class="col-sm-8">
                            <input name="description" id="description" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">型号：</label>
                    <div class="col-sm-8">
                        <input name="partnumber" required id="partnumber" class="form-control" type="text">
                    </div>
                </div>
                </div>

                <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">发布状态：</label>
                    <div class="col-sm-8">
                        <select name="publishstatus" id="publishstatus" class="form-control m-b" th:with="type=${@dict.getType('publishstatus')}">
                            <option value=""></option>

                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
                        </select>
                    </div>
                </div>
                </div>

                <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">所属项目：</label>
                    <div class="col-sm-8">
                        <select name="project" id="project" class="form-control m-b" >
                            <option value=""></option>

                            <option th:each="project : ${projectList}" th:text="${project.name}" th:value="${project.name}"></option>
                        </select>
                    </div>
                </div>
                </div>

                <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">产品大类：</label>
                    <div class="col-sm-8">
                        <select name="producttype" id="producttype" class="form-control m-b" th:with="type=${@dict.getType('producttype')}">
                            <option value=""></option>

                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
                        </select>
                    </div>
                </div>
                </div>

                <div class="col-sm-6">

                <div class="form-group">
                    <label class="col-sm-3 control-label">价格：</label>
                    <div class="col-sm-8">
                        <input name="price" readonly id="price" class="form-control" type="text">
                    </div>
                </div>
                </div>

                <div class="col-sm-6">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">设计者：</label>
                        <div class="col-sm-8">

                            <select name="designer" id="designer" class="form-control m-b" th:with="type=${@dict.getType('bomuser')}">
                                <option value=""></option>

                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
                            </select>
                        </div>
                    </div>

                </div>


                <div class="col-sm-6">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">检查者：</label>
                        <div class="col-sm-8">

                            <select name="scrutineer" id="scrutineer" class="form-control m-b" th:with="type=${@dict.getType('bomuser')}">
                                <option value=""></option>

                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
                            </select>
                        </div>
                    </div>

                </div>



                <div class="col-sm-6">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">批准者：</label>
                        <div class="col-sm-8">

                            <select name="approver" id="approver" class="form-control m-b" th:with="type=${@dict.getType('bomuser')}">
                                <option value=""></option>

                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
                            </select>
                        </div>
                    </div>

                </div>


                <div class="col-sm-6">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">制作时间：</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input name="timeofmaking" id="timeofmaking" class="form-control" placeholder="yyyy-MM-dd" type="text">
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-sm-6">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">检查时间：</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input name="inspectiontime" id="inspectiontime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">批准时间：</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input name="approvaltime" id="approvaltime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注：</label>
                        <div class="col-sm-8">
                            <input name="remark" id="remark" class="form-control" type="text">
                        </div>
                    </div>
                </div>


            </div>

        </form>
    </div>
    <div class="container-div">
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="insertRow()">
                <i class="fa fa-plus"></i> 新增行
            </a>
            <a class="btn btn-danger " onclick="removeRow()">
                <i class="fa fa-remove"></i> 删除选择行
            </a>
            <a class="btn btn-danger" onclick="removeRowAll()">
                <i class="fa fa-remove"></i> 删除所有行
            </a>
            <a class="btn btn-info" onclick="$.table.importExcel()">
                <i class="fa fa-upload"></i> 导入
            </a>
            <a class="btn btn-primary" onclick="getsum()">
                <i class="fa fa-refresh"></i> 刷新
            </a>



        </div>
    <div class="col-sm-12 select-table table-striped" style="margin-bottom: 1%">
        <table id="bootstrap-table"></table>
    </div>


        <h4 class="form-header h4" >库存列表</h4>

        <div class="ui-layout-center">
            <div class="container-div">



                <div class="row">
                    <div class="col-sm-12 search-collapse">
                        <form id="form2">
                            <div class="select-list">
                                <ul>

                                    <li>
                                        <label>名称：</label>
                                        <input type="text" name="name"/>
                                    </li>
                                    <li>
                                        <label>型号：</label>
                                        <input type="text" name="partnumber"/>
                                    </li>
                                    <li>
                                        <label>封装：</label>
                                        <input type="text" name="footprint"/>
                                    </li>
                                    <li>
                                        <label>描述：</label>
                                        <input type="text" name="description"/>
                                    </li>
                                    <li>
                                        <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('form2', 'bootstrap-table1')"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                        <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('form2', 'bootstrap-table1')"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="btn-group-sm" id="toolbar1" role="group">

                        <a class="btn btn-success" onclick="clonerow()">
                            <i class="fa fa-plus"></i> 移入
                        </a>

                    </div>
                    <div class="col-xs-12 select-table table-striped" style="margin-bottom: 2%">
                        <table id="bootstrap-table1" ></table>
                    </div>



        <div class="row">
            <div class="col-sm-offset-5 col-sm-10">
                <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
                <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
            </div>
        </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: layout-latest-js" />
    <th:block th:include="include :: ztree-js" />
    <th:block th:include="include :: bootstrap-table-editable-js" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/bom"


        var prefix1=ctx + "system/bomdetail";



        var options1 = {
            uniqueId: "randomId",
            id: "bootstrap-table1",
            url: ctx + "system/storage/list",
            toolbar: "toolbar1",
            showFooter: true,
            showSearch: false,
            showRefresh: false,
            showColumns: false,
            pagination: false,
            height: 400,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'null',
                    visible: false
                },
                {
                    field: 'no',
                    title: '序号',
                    sortable: true,
                    align: "center",
                    width: 40,
                    formatter: function (value, row, index) {
                        //获取每页显示的数量
                        var pageSize=$('#bootstrap-table1').bootstrapTable('getOptions').pageSize;
                        //获取当前是第几页
                        var pageNumber=$('#bootstrap-table1').bootstrapTable('getOptions').pageNumber;
                        //返回序号，注意index是从0开始的，所以要加上1
                        return pageSize * (pageNumber - 1) + index + 1;
                    }
                },
                {
                    field: 'materialcode',
                    title: '物料代码'
                },
                {
                    field: 'name',
                    title: '物料名称'
                },
                {
                    field: 'partnumber',
                    title: '物料型号'
                },
                {
                    field: 'description',
                    title: '描述'
                },

                {
                    field: 'manufacture',
                    title: '品牌'
                },
                {
                    field: 'unit',
                    title: '单位'
                },
                {
                    field: 'price',
                    title: '单价'

                },
                {
                    field: 'stocks',
                    title: '库存'

                },
                {
                    field: 'money',
                    title: '总价'

                },

                {
                    field: 'serialNumber',
                    title: '序列号'
                },

                {
                    field: 'supplier',
                    title: '供应商'

                },   {
                    field: 'footprint',
                    title: '封装'
                },
                {
                    field: 'randomId',
                    title: 'randomId',
                    visible: false
                }
            ] ,onEditableSave: function (field, row, oldValue,$el) {

                row.money = (row.price * row.counts).toFixed(2);;
                $('#bootstrap-table1').bootstrapTable('updateRow', {index: row.randomId, row: row});

            }
        };

        $.table.init(options1);



        $(function() {


            $.ajax({
                url : prefix1+'/clearbomDetailList',
                dataType : 'json',
                type : 'get',
                success : function(data) {

                }
            });

            var options = {
                url: prefix1 + "/listimport",
                importUrl: prefix1 + "/importData",
                importTemplateUrl: prefix1 + "/importTemplate",
                pagination:false,
                showSearch: false,
                showRefresh:false,
                showColumns:false,
                showToggle:false,
                modalName: "bom详细清单",
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'id',
                        title: 'id',
                        visible: false
                    },

                    {
                        field: 'materialcode',
                        title: '编码'


                    },

                    {
                        field: 'name',
                        title: '名称'
                    },

                    {
                        field: 'partnumber',
                        title: '型号'
                    },
                    {
                        field: 'unit',
                        title: '单位'
                    },
                    {
                        field: 'price',
                        title: '单价'
                    },
                    {
                        field: 'count',
                        title: '数量',
                        editable : {
                            type : 'number',
                            title : '数量'

                        }
                    },
                    {
                        field: 'manufacture',
                        title: '品牌'
                    },
                    {
                        field: 'supplier',
                        title: '供应商'
                    },
                    {
                        field: 'leadtime',
                        title: '交货期'
                    },
                                     {
                        field: 'footprint',
                        title: '封装'
                    },

                    {
                        field: 'comments',
                        title: '备注',
                        editable : {
                            type : 'text',
                            title : '备注'

                        }
                    }


                ] ,onEditableSave: function (field, row, oldValue,$el) {


                    getsum();
                    $('#bootstrap-table').bootstrapTable('updateRow', {index: row.materialcode, row: row});

                }

            };
            $.table.init(options);


        });

        function clonerow() {
            var randomId = 100 + ~~(Math.random() * 100)
            var data = $("#" + table.options.id).bootstrapTable('getSelections');
            var datas = $("#bootstrap-table").bootstrapTable('getData');

            for (var i=0;i<data.length;i++){
                $("#bootstrap-table").bootstrapTable('insertRow', {
                    index: datas.length+i, // 你想插入到哪，0表示第一行
                    row: {
                        id: data[i].id,
                        name: data[i].name,
                        materialcode: data[i].materialcode,
                        partnumber: data[i].partnumber,
                        footprint: data[i].footprint,
                        manufacture: data[i].manufacture,
                        unit: data[i].unit,
                        comments:"",
                        serialNumber:data[i].serialNumber,
                        supplier:data[i].supplier,
                        price:data[i].price,
                        leadtime:data[i].leadtime,
                        money:"",
                        count:"",
                        randomId:randomId
                    }
                })
            }



        }

        function submitHandler() {


            if ($.validate.form()) {


                 getsum();

                var data = $("#bootstrap-table" ).bootstrapTable('getData');




                if(data==null||data.length==0){
                    alert("请填写bom产品!");
                    return;
                }

                for(var i=0;i<data.length;i++){
                    if(data[i].count<=0){
                        alert("产品数量必须大于0!")
                        return;
                    }
                }

                $.ajax({
                    url:  ctx + "system/bom/add",
                    type: "post",
                    dataType: "json",
                    beforeSend: function () {
                        $.modal.loading("正在处理中，请稍后...");
                    },
                    data: {
                        "bomList": JSON.stringify(data),
                        "number": $("#number").val(),
                        "version": $("#version").val(),
                        "name": $("#name").val(),
                        "description": $("#description").val(),
                        "partnumber": $("#partnumber").val(),
                        "project": $("#project").val(),
                        "producttype": $("#producttype").val(),
                        "price": $("#price").val(),
                        "designer": $("#designer").val(),
                        "scrutineer": $("#scrutineer").val(),
                        "approver": $("#approver").val(),
                        "timeofmaking": $("#timeofmaking").val(),
                        "inspectiontime": $("#inspectiontime").val(),
                        "approvaltime": $("#approvaltime").val(),
                        "remark": $("#remark").val(),
                        "publishstatus":$("#publishstatus").val()

                    },
                    success: function(result) {
                        if (typeof callback == "function") {
                            callback(result);
                        }
                        $.operate.successTabCallback(result);
                    }
                })
            };
        }



        function removeRow(){


            var ids = $.table.selectColumns("materialcode");
            if (ids.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $("#" + table.options.id).bootstrapTable('remove', {
                field: 'materialcode',
                values: ids
            })




            getsum();
        }

        /* 删除所有表格行 */
        function removeRowAll(){

            $("#" + table.options.id).bootstrapTable('removeAll')
            getsum();
        }

        function insertRow(){
            var data = $("#bootstrap-table").bootstrapTable('getData');
            $("#bootstrap-table").bootstrapTable('insertRow', {
                index: data.length, // 你想插入到哪，0表示第一行
                row: {
                    materialcode:"",
                    count:"0",
                    comments:""
                }
            })
        }



        function initinsertRow(){

            $("#bootstrap-table").bootstrapTable('insertRow', {
                index: 0, // 你想插入到哪，0表示第一行
                row: {
                    materialcode:"",
                    count:"0",
                    comments:""
                }
            })
        }

        function getsum() {
            var data = $("#bootstrap-table").bootstrapTable('getData');
            var sum=parseFloat(0);
            for(var i=0;i<data.length;i++) {
                sum+=parseFloat(data[i].price)*parseInt(data[i].count);

            }

            $("#price").val(sum.toFixed(2));
        }

        $("#form-bom-add").validate({
            focusCleanup: true
        });



        $("input[name='timeofmaking']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='inspectiontime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='approvaltime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='cTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='uTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>


        <script id="importTpl" type="text/template">
            <form enctype="multipart/form-data" class="mt20 mb10">
                <div class="col-xs-offset-1">
                    <input type="file" id="file" name="file"/>
                    <div class="mt10 pt5">
                        &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
                    </div>
                    <font color="red" class="pull-left mt10">
                        提示：仅允许导入“xls”或“xlsx”格式文件！
                    </font>
                </div>
            </form>
        </script>
</body>
</html>