<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('bom列表列表')" />
    <style>
        .select-table table {
            table-layout:fixed;
        }

        .select-table .table td {



            /* 配合宽度来使用 */
            height:40px;
        }
    </style>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>编号：</label>
                                <input type="text" name="number"/>
                            </li>
                            <li>
                                <label>版本：</label>
                                <input type="text" name="version"/>
                            </li>
                            <li>
                                <label>名称：</label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label>所属项目：</label>
                                <input type="text" name="project"/>
                            </li>
                            <li>
                                <label>型号：</label>
                                <input type="text" name="partnumber"/>
                            </li>
                            <li>
                                <label>描述：</label>
                                <input type="text" name="description"/>
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="publishstatus" id="publishstatus"  th:with="type=${@dict.getType('publishstatus')}">
                                    <option value=""></option>

                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
                                </select>
                            </li>

                            <li>
                                <label>产品大类：</label>
                                <select name="producttype" id="producttype" th:with="type=${@dict.getType('producttype')}">
                                    <option value=""></option>

                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
                                </select>
                            </li>
                            <li>
                                <label>物料编号：</label>
                                <input type="text" name="code"/>
                            </li>
                            <li>
                                <label>物料型号：</label>
                                <input type="text" name="parttype"/>
                            </li>
                            <li>
                                <label>物料封装：</label>
                                <input type="text" name="footprint"/>
                            </li>
                            <li>
                                <label>报废状态：</label>
                                <select name="delStatus" id="delStatus" >
                                    <option value=0>未报废</option>
                                    <option value=1>已报废</option>
                                    </option>
                                </select>
                            </li>


                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-primary single disabled" onclick="userInfo()" shiro:hasPermission="system:bom:userinfo">
                    <i class="fa fa-edit"></i> 查看
                </a>
                <a class="btn btn-success multiple disabled" onclick="refresh()">
                    <i class="fa fa-refresh"></i> 刷新
                </a>
                <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="system:bom:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-danger single disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:bom:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-danger single disabled" onclick="scrap()" shiro:hasPermission="system:bom:remove">
                    <i class="fa fa-remove"></i> 报废
                </a>
                <a class="btn btn-primary single disabled" onclick="exportExcel()" shiro:hasPermission="system:bom:export">
                    <i class="fa fa-download"></i> 导出
                </a>



            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>


    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:bom:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:bom:remove')}]];
        var prefix = ctx + "system/bom";

        $(function() {

            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "bom",
                onDblClickRow:function(row, $element, field)
                {
                    Info(row.id);
                },
                rowStyle: function (row, index) {
                    var style = "";
                    if(row.delStatus==1) {
                        style = 'danger';
                        return {classes: style}
                    }else{
                        return {classes: style}
                    }
                },
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: 'null',
                    visible: false
                },
                {
                    field: 'number', 
                    title: '编号',
                    width:160
                },
                {
                    field: 'version', 
                    title: '版本',
                    width:160
                },
                {
                    field: 'name', 
                    title: '名称',
                    width:160
                },
                {
                    field: 'partnumber', 
                    title: '型号',
                    width:160
                },
                {
                    field: 'description', 
                    title: '描述',
                    width:160
                },
                {
                    field: 'publishstatus', 
                    title: '发布状态',
                    width:120
                },
                {
                    field: 'project', 
                    title: '所属项目',
                    width:160
                },
                {
                    field: 'producttype', 
                    title: '产品大类',
                    width:100
                },
                {
                    field: 'price', 
                    title: '价格',
                    width:100
                },
                {
                    field: 'designer', 
                    title: '设计者',
                    width:100

                },
                {
                    field: 'scrutineer', 
                    title: '检查者',
                    width:100
                },
                {
                    field: 'approver', 
                    title: '批准者',
                    width:100
                },
                {
                    field: 'timeofmaking', 
                    title: '制作时间',
                    width:100
                },
                {
                    field: 'inspectiontime', 
                    title: '检查时间',
                    width:160
                },
                {
                    field: 'approvaltime', 
                    title: '批准时间',
                    width:160
                },
                {
                    field: 'remark', 
                    title: '备注',
                    width:160
                },
           ]
            };
            $.table.init(options);
        });

        function Info(id) {
            table.set();
            $.modal.openTab("bom信息", prefix+"/info/"+id);
        }

        function userInfo() {
            table.set();
            var id = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
            $.modal.openTab("bom信息",  prefix+"/userinfo/"+(id));
        }


        function scrap() {
            table.set();
            var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $.modal.confirm("确认要报废选中的" + rows.length + "条数据吗?", function() {
                var url = prefix+"/scrap";
                var data = { "ids": rows.join() };
                $.operate.submit(url, "post", "json", data);
            });
        }

     function refresh() {
         table.set();
         var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
         if (rows.length == 0) {
             $.modal.alertWarning("请至少选择一条记录");
             return;
         }
         $.modal.confirm("确认要刷新选中的" + rows.length + "条数据吗?", function() {
             var url = prefix+"/refresh";
             var data = { "ids": rows.join() };
             $.operate.submit(url, "post", "json", data);
         });
     }



       function exportExcel(){
           var row=$("#bootstrap-table").bootstrapTable('getSelections')[0];
            window.location.href = prefix+'/export?id='+row.id+'&timeofmaking='+row.timeofmaking+"&version="+row.version+"&name="+row.name+"&number="+row.number+"&partnumber="+row.partnumber+"&remark="+row.remark;
        }

    </script>
</body>
</html>