<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增bom列表')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
    <th:block th:include="include :: bootstrap-editable-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <h4 class="form-header h4">基本信息</h4>
    <form class="form-horizontal m" id="form-bom-add" th:object="${bom}">

        <input name="id" th:field="*{id}" type="hidden">


        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">编号
                        ：</label>
                    <div class="col-sm-8">
                        <input name="number" th:field="*{number}" readonly id="number" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">版本
                        ：</label>
                    <div class="col-sm-8">
                        <input name="version" th:field="*{version}" readonly id="version" class="form-control" type="text">                        </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">名称：</label>
                    <div class="col-sm-8">
                        <input name="name" th:field="*{name}" readonly id="name" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">描述：</label>
                    <div class="col-sm-8">
                        <input name="description" th:field="*{description}" readonly id="description" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">型号：</label>
                    <div class="col-sm-8">
                        <input name="partnumber" th:field="*{partnumber}" readonly id="partnumber" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">发布状态：</label>
                    <div class="col-sm-8">
                        <select name="publishstatus" id="publishstatus" readonly  class="form-control m-b" th:with="type=${@dict.getType('publishstatus')}">
                            <option value=""></option>

                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"
                            th:selected="${dict.dictLabel}==*{publishstatus}"
                            ></option>

                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">所属项目：</label>
                    <div class="col-sm-8">
                        <select name="project" id="project" readonly class="form-control m-b" >
                            <option value=""></option>

                            <option th:each="project : ${projectList}" th:text="${project.name}" th:value="${project.name}"

                            th:selected="${project.name}==*{project}"
                            ></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">产品大类：</label>
                    <div class="col-sm-8">
                        <select name="producttype" readonly id="producttype" class="form-control m-b" th:with="type=${@dict.getType('producttype')}">
                            <option value=""></option>

                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"
                             th:selected="${dict.dictLabel}==*{producttype}" ></option>
                        </select>
                    </div>
                </div>
            </div>



            <div class="col-sm-6">

                <div class="form-group">
                    <label class="col-sm-3 control-label">设计者：</label>
                    <div class="col-sm-8">

                        <select name="designer" readonly id="designer" class="form-control m-b" th:with="type=${@dict.getType('bomuser')}">
                            <option value=""></option>

                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"

                            th:selected="${dict.dictLabel}==*{designer}"></option>
                        </select>
                    </div>
                </div>

            </div>


            <div class="col-sm-6">

                <div class="form-group">
                    <label class="col-sm-3 control-label">检查者：</label>
                    <div class="col-sm-8">

                        <select name="scrutineer" readonly id="scrutineer" class="form-control m-b" th:with="type=${@dict.getType('bomuser')}">
                            <option value=""></option>

                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"
                                    th:selected="${dict.dictLabel}==*{scrutineer}"></option>
                        </select>
                    </div>
                </div>

            </div>



            <div class="col-sm-6">

                <div class="form-group">
                    <label class="col-sm-3 control-label">批准者：</label>
                    <div class="col-sm-8">

                        <select name="approver" id="approver" readonly class="form-control m-b" th:with="type=${@dict.getType('bomuser')}">
                            <option value=""></option>

                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"
                                    th:selected="${dict.dictLabel}==*{approver}"></option>
                        </select>
                    </div>
                </div>

            </div>


            <div class="col-sm-6">

                <div class="form-group">
                    <label class="col-sm-3 control-label">制作时间：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input name="timeofmaking" readonly id="timeofmaking" th:value="${#dates.format(bom.timeofmaking, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-sm-6">

                <div class="form-group">
                    <label class="col-sm-3 control-label">检查时间：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input name="inspectiontime" readonly id="inspectiontime" th:value="${#dates.format(bom.inspectiontime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">                        </div>
                    </div>
                </div>

            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">批准时间：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input name="approvaltime" readonly id="approvaltime" th:value="${#dates.format(bom.approvaltime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">备注：</label>
                    <div class="col-sm-8">
                        <input name="remark" readonly th:field="*{remark}" id="remark" class="form-control" type="text">
                    </div>
                </div>
            </div>


        </div>

    </form>
</div>

    <div class="col-sm-12 select-table table-striped" style="margin-bottom: 1%">
        <table id="bootstrap-table"></table>
    </div>




    <th:block th:include="include :: footer" />
    <th:block th:include="include :: layout-latest-js" />
    <th:block th:include="include :: ztree-js" />
    <th:block th:include="include :: bootstrap-table-editable-js" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/bom"


        var prefix1=ctx + "system/bomdetail";



        $(function() {



            var options = {
                url: prefix1 + "/list",
                importUrl: prefix1 + "/importData",
                importTemplateUrl: prefix1 + "/importTemplate",
                pagination:false,
                showSearch: false,
                showRefresh:false,
                showColumns:false,
                showToggle:false,
                modalName: "bom详细清单",
                queryParams : {
                    bomid: $("#id").val()
                },
                columns: [{
                    checkbox: true
                },


                    {
                        field: 'msid',
                        title: '主料编码',


                    },

                    {
                        field: 'ssid',
                        title: '备料编码'
                    },
                    {
                        field: 'price',
                        title: 'Price'
                    },
                    {
                        field: 'supplier',
                        title: 'Supplier'
                    },
                    {
                        field: 'comment',
                        title: 'Comment'
                    },
                    {
                        field: 'footprint',
                        title: 'Footprint'
                    },
                    {
                        field: 'description',
                        title: 'Description'
                    },
                    {
                        field: 'designator',
                        title: 'Designator'
                    },

                    {
                        field: 'quantity',
                        title: 'Quantity'

                    },
                    {
                        field: 'count',
                        title: '生产数量'

                    },
                    {
                        field: 'sumcount',
                        title: '生产总用量'

                    }



                ]

            };
            $.table.init(options);


        });



        function submitHandler() {


            if ($.validate.form()) {




                var data = $("#bootstrap-table" ).bootstrapTable('getData');




                if(data==null||data.length==0){
                    alert("请填写bom产品!");
                    return;
                }

                for(var i=0;i<data.length;i++){
                    if(data[i].count<=0){
                        alert("产品数量必须大于0!")
                        return;
                    }
                }

                $.ajax({
                    url:  ctx + "system/bom/edit",
                    type: "post",
                    dataType: "json",
                    beforeSend: function () {
                        $.modal.loading("正在处理中，请稍后...");
                    },
                    data: {
                        "bomList": JSON.stringify(data),
                        "id":$("#id").val(),
                        "number": $("#number").val(),
                        "version": $("#version").val(),
                        "name": $("#name").val(),
                        "description": $("#description").val(),
                        "partnumber": $("#partnumber").val(),
                        "project": $("#project").val(),
                        "producttype": $("#producttype").val(),
                        "price": $("#price").val(),
                        "designer": $("#designer").val(),
                        "scrutineer": $("#scrutineer").val(),
                        "approver": $("#approver").val(),
                        "timeofmaking": $("#timeofmaking").val(),
                        "inspectiontime": $("#inspectiontime").val(),
                        "approvaltime": $("#approvaltime").val(),
                        "remark": $("#remark").val(),
                        "publishstatus":$("#publishstatus").val()

                    },
                    success: function(result) {
                        if (typeof callback == "function") {
                            callback(result);
                        }
                        $.operate.successTabCallback(result);
                    }
                })
            };
        }



        function removeRow(){


            var ids = $.table.selectColumns("materialcode");
            if (ids.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $("#" + table.options.id).bootstrapTable('remove', {
                field: 'materialcode',
                values: ids
            })




            getsum();
        }

        /* 删除所有表格行 */
        function removeRowAll(){

            $("#" + table.options.id).bootstrapTable('removeAll')
            getsum();
        }

        function insertRow(){
            var data = $("#bootstrap-table").bootstrapTable('getData');
            $("#bootstrap-table").bootstrapTable('insertRow', {
                index: data.length, // 你想插入到哪，0表示第一行
                row: {
                    materialcode:"",
                    count:"0",
                    comments:""
                }
            })
        }



        function initinsertRow(){

            $("#bootstrap-table").bootstrapTable('insertRow', {
                index: 0, // 你想插入到哪，0表示第一行
                row: {
                    materialcode:"",
                    count:"0",
                    comments:""
                }
            })
        }

        function getsum() {
            var data = $("#bootstrap-table").bootstrapTable('getData');
            var sum=parseFloat(0);
            for(var i=0;i<data.length;i++) {
                sum+=parseFloat(data[i].price)*parseInt(data[i].count);

            }

            $("#price").val(sum.toFixed(2));
        }

        $("#form-bom-add").validate({
            focusCleanup: true
        });



        $("input[name='timeofmaking']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='inspectiontime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='approvaltime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='cTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='uTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>


    <script id="importTpl" type="text/template">
        <form enctype="multipart/form-data" class="mt20 mb10">
            <div class="col-xs-offset-1">
                <input type="file" id="file" name="file"/>
                <div class="mt10 pt5">
                    &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
                </div>
                <font color="red" class="pull-left mt10">
                    提示：仅允许导入“xls”或“xlsx”格式文件！
                </font>
            </div>
        </form>
    </script>
</body>
</html>