<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('回款列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>

                                <input type="hidden" id="contractId" name="contractId" th:value="${contractNumber}" />


                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="add()" >
                    <i class="fa fa-plus"></i> 添加
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:returned:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:returned:remove')}]];
        var prefix = ctx + "system/returned";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                showFooter: true,
                modalName: "回款",
                queryParams : {
                    contractId: $("#contractId").val()
                },
                columns: [{
                    checkbox: true
                },
                {
                    field: 'returnedMoney', 
                    title: '回款金额',
                    footerFormatter:function (value) {
                        var sumBalance = 0;
                        for (var i in value) {
                            sumBalance += parseFloat(value[i].returnedMoney);
                        }

                        return "总金额：" + sumBalance.toFixed(2);
                    }
                },
                {
                    field: 'returnedDate', 
                    title: '回款日期',
                    formatter:function (value, row, index) {

                        return setDefaultDate(value) ;
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs  href="javascript:void(0)" onclick="$.operate.edit(\'' + row.returnedId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs  href="javascript:void(0)" onclick="$.operate.remove(\'' + row.returnedId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function setDefaultDate(myDate) {
            if(myDate!=null) {
                return myDate.substring(0, 10);
            }
            return "";
        }

        function add() {
                table.set();
                $.modal.open("添加回款记录", prefix+"/add/"+$("#contractId").val());
        }
    </script>
</body>
</html>