<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('出库产品列表列表')" />
    <style>
        .select-table table {
            table-layout:fixed;
        }

    </style>
</head>
   <input name="storageoutbillid" id="storageoutbillid" th:value="${storageoutid}" hidden="hidden"/>



            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" >
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:storageoutdetail:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:storageoutdetail:remove')}]];
        var prefix = ctx + "system/storageoutdetail";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "出库产品列表",
                queryParams : {
                    storageoutbillid: $("#storageoutbillid").val()
                },
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: 'null',
                    visible: false
                },
                {
                    field: 'storageoutbillid', 
                    title: '所属出库单'


                },
                    {
                        field: 'materialcode',
                        title: '物料代码'
                    },

                    {
                        field: 'counts',
                        title: '数量'
                    },


                    {
                        field: 'serialNumber',
                        title: '序列号'
                    },
                    {
                        field: 'comments',
                        title: '备注'
                    },

                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>