<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <style>
    .select-table table {
        table-layout:fixed;
    }

    .select-table .table td {

        word-break : break-all;

        /* 配合宽度来使用 */
        height:40px;
    }
</style>
    <th:block th:include="include :: header('出库单列表列表')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>出库单号：</label>
                                <input type="text" name="storageoutid"/>
                            </li>

                            <li>
                                <label>出库客户：</label>
                                <input type="text" name="customer"/>
                            </li>
                            <li>
                                <label>发票编号：</label>
                                <input type="text" name="invoiceid"/>
                            </li>
                            <li>
                                <label>合同单号：</label>
                                <input type="text" name="contractid"/>
                            </li>
                            <li>
                                <label>快递单号：</label>
                                <input type="text" name="expressid"/>
                            </li>
                            <li>
                                <label>领料单号：</label>
                                <input type="text" name="stockrequisition"/>
                            </li>

                            <li>
                                <label>出库原因：</label>
                                <input type="text" name="instoragecause"/>
                            </li>
                            <li>
                                <label>项目名称：</label>
                                <input type="text" name="projectname"/>
                            </li>
                            <li>
                                <label>出库备注：</label>
                                <input type="text" name="comments"/>
                            </li>
                            <li class="select-time">
                                <label>出库时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <label>红冲状态：</label>
                                <select name="delStatus" th:with="type=${@dict.getType('reddashed_status')}">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>

                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-primary single disabled" onclick="Info()" shiro:hasPermission="system:storageoutbill:info" >
                    <i class="fa fa-edit"></i> 查看
                </a>
                <a class="btn btn-primary single disabled"  onclick="print()" shiro:hasPermission="system:storageoutbill:print" >
                    <i class="fa fa-print"></i> 打印
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:storageoutbill:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger single disabled" onclick="reddashed()" shiro:hasPermission="system:storageoutbill:reddashed">
                    <i class="fa fa-exclamation"></i> 红冲
                </a>
                <a class="btn btn-warning single disabled" onclick="exportExcel()" shiro:hasPermission="system:storageoutbill:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:storageoutbill:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:storageoutbill:remove')}]];
        var prefix = ctx + "system/storageoutbill";
        var prefix1 = ctx + "system/storageoutdetail";
        var storageinouttype = [[${@dict.getType('storageinouttype')}]];


        $("#datetimepicker-startTime").datetimepicker({
            format: "yyyy-mm-dd hh:ii",
            autoclose: true
        });
        $("#datetimepicker-endTime").datetimepicker({
            format: "yyyy-mm-dd hh:ii",
            autoclose: true
        });
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "出库单列表",
                onDblClickRow:function(row, $element, field)
                {
                    Infotwo(row.id,row.storageoutid);
                },
                rowStyle: function (row, index) {
                    var style = "";
                    if(row.delStatus==2) {
                        style = 'danger';
                        return {classes: style}
                    }else{
                        return {classes: style}
                    }
                },
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'null',
                    visible: false
                },
                {
                    field: 'storageoutid',
                    title: '出库单号',
                    width:155
                },
                {
                        field: 'outsourcewarehouse',
                        title: '外协库',
                        width:200
                    },
                    {
                        field: 'outmoney',
                        title: '出库金额',
                        width:100
                    },
                    {
                        field: 'storageouttype',
                        title: '出库类型',
                        width:120,
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(storageinouttype, value);
                        }
                    },

                {
                    field: 'warehouseadmin',
                    title: '库管员',
                    width:100
                },
                {
                    field: 'stockpeople',
                    title: '领料人',
                    width:100
                },

                {
                    field: 'comments',
                    title: '备注',
                    width:180
                }, {
                        field: 'stockrequisition',
                        title: '领料单',
                        width:150
                    },

                    {
                        field: 'customer',
                        title: '客户',
                        width:200
                    },


                    {
                        field: 'invoiceid',
                        title: '发票单号',
                        width:120
                    },
                    {
                        field: 'expressid',
                        title: '快递单号',
                        width:120
                    },
                    {
                        field: 'proposer',
                        title: '申请人',
                        width:120
                    },
                    {
                        field: 'projectname',
                        title: '项目名称',
                        width:220
                    },
                    {
                        field: 'instoragecause',
                        title: '出库原因',
                        width:160
                    },
                    {
                        field: 'purchaseid',
                        title: '采购单号',
                        width:120
                    },
                    {
                        field: 'contractid',
                        title: '合同单号',
                        width:120
                    },
                ]
            };
            $.table.init(options);
        });


        function Info() {
            table.set();
            var row = $("#bootstrap-table").bootstrapTable('getSelections')[0];
            $.modal.openTab(row.storageoutid+"出库单详细信息",prefix1+"/"+row.id);
        }
        function Infotwo(id,storageoutid) {
            table.set();
            $.modal.openTab(storageoutid+"出库单详细信息",prefix1+"/"+id);
        }


        function print(id) {
            var id=id;
            if(id==undefined){
                id = $("#bootstrap-table").bootstrapTable('getSelections')[0].id;
            }
            table.set();
            $.modal.openTab("打印出库单",prefix+"/print/"+id);

        }



        function exportExcel(){
            var row=$("#bootstrap-table").bootstrapTable('getSelections')[0];
            window.location.href = prefix+'/export?id='+row.id;
        }






        function reddashed() {
            table.set();
            var id = $("#bootstrap-table").bootstrapTable('getSelections')[0].id;
                $.modal.confirm("确定红冲该出库单吗？", function() {
                    $.ajax({
                        url : prefix+'/reddashed',
                        dataType : 'json',
                        type : 'post',
                        data:{"id":id},
                        beforeSend: function () {
                            $.modal.loading("正在处理中，请稍后...");
                        },
                        success: function(result) {
                            if (typeof callback == "function") {
                                callback(result);
                            }
                            $.operate.ajaxSuccess(result);
                            $.table.refresh();
                        }
                    });
                    $.ajax(config)
                });
        }

    </script>
</body>
</html>