<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('打印入库产品')" />
    <title>入库单打印</title>
    <style>
        fixed-table-body{
            height: auto;
        }
      .div{
          display: none;
      }
        .select-table table {
            table-layout:fixed;
        }

        .select-table .table td {

            /*规定段落中的文本不进行换行 */
            white-space:nowrap;
            /* 配合宽度来使用 */
            height:40px;
        }
    </style>
</head>
<body class="white-bg">

<center>
    <div class="table-d" id="context" >
        <h3 style="text-align: center;">入库单</h3>
        <div class="div" style="position: relative">
            <span>供应商:</span> <span style="padding-right: 230;" th:text="${storageinbill.supplier}"></span> <span style="position: absolute;right: 202">日期: </span> <span style="position: absolute;right: 133" th:text="${#dates.format(storageinbill.storagentime,'yyyy-MM-dd')}"></span>

        </div>
        <div class="div" style="position: relative">
            <span>类别:</span> <span style="padding-right: 215;" th:text="${storageinbill.outsourcewarehouse}"></span> <span style="position: absolute;right: 175">单据编号:</span> <span style="position: absolute;right: 60" th:text="${storageinbill.stockinid}"></span>

        </div>
        <table style="border:1px solid #F00;border-collapse: collapse">
            <tbody>
            <tr style="border:1px solid #F00;">
                <td style="border:1px solid #F00;" width="50" align="center" >序号</td>
                <td style="border:1px solid #F00;" width="121" align="center">编码</td>
                <td style="border:1px solid #F00;" width="121" align="center">名称</td>
                <td style="border:1px solid #F00;" width="182" align="center">型号</td>
                <td style="border:1px solid #F00;" width="50" align="center">单位</td>
                <td style="border:1px solid #F00;" width="50" align="center">数量</td>
                <td style="border:1px solid #F00;" width="70" align="center">单价</td>
                <td style="border:1px solid #F00;" width="70" align="center">金额</td>
            </tr>
            <tr th:each="storageindetail : ${storageindetails}" style="border:1px solid #F00;">
                <td style="border:1px solid #F00;" align="center" th:text="${storageindetail.rownum}"></td>
                <td style="border:1px solid #F00;" align="center" th:text="${storageindetail.materialcode}"></td>
                <td style="border:1px solid #F00;" align="center" th:text="${storageindetail.name}"></td>
                <td style="border:1px solid #F00;" align="center" th:text="${storageindetail.partnumber}"></td>
                <td style="border:1px solid #F00;" align="center" th:text="${storageindetail.unit}"> </td>
                <td style="border:1px solid #F00;" align="center" th:text="${storageindetail.counts}"   > </td>
                <td style="border:1px solid #F00;" align="center" th:text="${storageindetail.price}"> </td>
                <td style="border:1px solid #F00;" align="center" th:text="${storageindetail.money}"> </td>
            </tr>
            <tr>
                <td  style="border:1px solid #F00;" align="center">总金额</td>
                <td colspan="7" style="border:1px solid #F00;" align="center" th:text="${storageinbill.money}"></td>
            </tr>
            </tbody>
        </table>

        <div class="div" style="position: relative;margin-top: 5px;" >
            <span style="position: absolute;left: 50px;font-size: 18px;">仓库:</span>   <i style="position: absolute;left: 100px;font-size: 18px;">赵建忠</i> <span style="position: absolute;right: 150px;font-size: 18px;">主管:</span> <i style="position: absolute;right: 90px;font-size: 18px;">闵高详</i>
        </div>
    </div>
</center>
<br/>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="print()"><i class="fa fa-check"></i>打 印</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>

    <th:block th:include="include :: footer" />
    <script src="http://www.jq22.com/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery.jqprint-0.3.js}"></script>
    <script type="text/javascript">
        var prefix = ctx + "system/storageindetail";




        var prefix = ctx + "system/storageindetail"
        $("#form-storageindetail-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-storageindetail-add').serialize());
            }
        }

        function print() {
            $("#context").jqprint();
        }





    </script>

</body>
</html>