<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>

    <style>
        .select-table table {
            table-layout:fixed;
        }

        .select-table .table td {



            /* 配合宽度来使用 */
            height:40px;
        }
    </style>

    <th:block th:include="include :: header('入库单列表列表')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <input type="hidden" value="1" name="status"/>

                            <li>
                                <label>外协库：</label>
                                <input type="text" name="outsourcewarehouse"/>
                            </li>
                            <li>
                                <label>供应商：</label>
                                <input type="text" name="supplier"/>
                            </li>
                            <li>
                                <label>发票编号：</label>
                                <input type="text" name="invoiceid"/>
                            </li>
                            <li>
                                <label>合同单号：</label>
                                <input type="text" name="contractid"/>
                            </li>
                            <li>
                                <label>快递单号：</label>
                                <input type="text" name="expressid"/>
                            </li>
                            <li>
                                <label>入库原因：</label>
                                <input type="text" name="instoragecause"/>
                            </li>
                            <li>
                                <label>项目名称：</label>
                                <input type="text" name="projectname"/>
                            </li>
                            <li>
                                <label>备注：</label>
                                <input type="text" name="comments"/>
                            </li>
                            <li class="select-time">
                                <label>入库时间： </label>
                                <input type="text"   class="form-control" id="datetimepicker-startTime" placeholder="开始时间" name="params[beginTime]">
                                <span>-</span>
                                <input type="text"   class="form-control" id="datetimepicker-endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-primary single disabled" onclick="Info()" shiro:hasPermission="system:storageinbill:info" >
                    <i class="fa fa-edit"></i> 查看
                </a>

            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>

     <th:block th:include="include :: footer" />
     <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var applyFlag = [[${@permission.hasPermi('system:storageinbill:apply')}]];
        var ratifyFlag = [[${@permission.hasPermi('system:storageinbill:ratify')}]];
        var checkprintFlag = [[${@permission.hasPermi('system:storageinbill:checkprint')}]];


        var prefix = ctx + "system/storageinbill";
        var prefix1 = ctx + "system/storageindetail";
        $(function() {

            $("#datetimepicker-startTime").datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                autoclose: true
            });
            $("#datetimepicker-endTime").datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                autoclose: true
            });
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix1 + "/{id}",
                toolbar: "toolbar",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "入库单列表",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: 'null',
                    visible: false
                },
                {
                    field: 'stockinid', 
                    title: '入库单号',
                    width:155
                },
                {
                    field: 'outsourcewarehouse', 
                    title: '外协库',
                    width:200
                },
                    {
                        field: 'money',
                        title: '入库金额',
                        width:120
                    },
                {
                    field: 'deliveryman', 
                    title: '送货人',
                    width:100
                },
                {
                    field: 'warehouseadmin', 
                    title: '库管员',
                    width:100
                },
                {
                    field: 'storagentime', 
                    title: '入库时间',
                    width:160
                },
                    {
                        field: 'supplier',
                        title: '供应商',
                        width:200
                    },


                    {
                        field: 'invoiceid',
                        title: '发票单号',
                        width:120
                    },
                    {
                        field: 'expressid',
                        title: '快递单号',
                        width:120
                    },
                    {
                        field: 'proposer',
                        title: '申请人',
                        width:120
                    },
                    {
                        field: 'projectname',
                        title: '项目名称',
                        width:220
                    },
                    {
                        field: 'instoragecause',
                        title: '入库原因',
                        width:160
                    },
                    {
                        field: 'purchaseid',
                        title: '采购单号',
                        width:120
                    },
                    {
                        field: 'contractid',
                        title: '合同单号',
                        width:120
                    },
                    {
                        field: 'comments',
                        title: '备注',
                        width:200
                    }, {
                        title: '操作',
                        align: 'center',
                        width:80,
                        formatter: function(value, row, index) {
                            var actions = [];
                            if(row.status==1) {
                                actions.push('<a class="btn btn-primary btn-xs " href="javascript:void(0)" onclick="ratify(\'' + row.id + '\')"><i class="fa fa-check"></i>批准</a>');

                                actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="turn(\'' + row.id + '\')"><i class="fa fa-remove"></i>驳回</a>');
                            }
                            return actions.join('');
                        }
                    }



             ]
            };
            $.table.init(options);
        });


        function Info(id) {
            table.set();

             var rows = $("#bootstrap-table").bootstrapTable('getSelections')[0];
                $.modal.openTab("入库单详细信息", prefix1+"/"+rows.stockinid);

        }






   function  ratify(id) {
       table.set();
       $.modal.confirm("确定批准该入库单吗？", function() {
           $.ajax({
               url : prefix+'/ratify',
               dataType : 'json',
               type : 'post',
               data:{"id":id},
               beforeSend: function () {
                   $.modal.loading("正在处理中，请稍后...");
               },
               success: function(result) {
                   if (typeof callback == "function") {
                       callback(result);
                   }
                   $.operate.ajaxSuccess(result);
                   $.table.refresh();
               }
           });
           $.ajax(config)
       });
   }


        function  turn(id) {
            table.set();
            $.modal.confirm("确定驳回该入库单吗？", function() {
                $.ajax({
                    url : prefix+'/turn',
                    dataType : 'json',
                    type : 'post',
                    data:{"id":id},
                    beforeSend: function () {
                        $.modal.loading("正在处理中，请稍后...");
                    },
                    success: function(result) {
                        if (typeof callback == "function") {
                            callback(result);
                        }
                        $.operate.ajaxSuccess(result);
                        $.table.refresh();
                    }
                });
                $.ajax(config)
            });
        }
    </script>
</body>
</html>