<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('退料单列表列表')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
    <th:block th:include="include :: bootstrap-editable-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>退料单号：</label>
                                <input type="text" name="storagequitbillid"/>
                            </li>


                            <li>
                                <label>退料原因：</label>
                                <input type="text" name="outstoragecause"/>
                            </li>
                            <li>
                                <label>退料备注：</label>
                                <input type="text" name="comments"/>
                            </li>

                            <li>
                                <label>红冲状态：</label>
                                <select name="delStatus" th:with="type=${@dict.getType('reddashed_status')}">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>退料时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-primary single disabled" onclick="Info()" shiro:hasPermission="system:storagequitbill:info" >
                    <i class="fa fa-edit"></i> 查看
                </a>
                <a class="btn btn-primary single disabled"  onclick="print()" shiro:hasPermission="system:storagequitbill:print" >
                    <i class="fa fa-print"></i> 打印
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:storagequitbill:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger single disabled" onclick="reddashed()" shiro:hasPermission="system:storagequitbill:reddashed">
                    <i class="fa fa-exclamation"></i> 红冲
                </a>
                <a class="btn btn-warning single disabled" onclick="exportExcel()" shiro:hasPermission="system:storagequitbill:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <th:block th:include="include :: layout-latest-js" />
     <th:block th:include="include :: ztree-js" />
     <th:block th:include="include :: bootstrap-table-editable-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/storagequitbill";
        var prefix1 = ctx + "system/storagequitdetail";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "退料单列表",
                onDblClickRow:function(row, $element, field)
                {
                    Infotwo(row.id,row.storagequitbillid);
                },
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: 'id',
                    visible: false
                },
                {
                    field: 'storagequitbillid', 
                    title: '退料单号'
                },
                    {
                        field: 'quitmoney',
                        title: '退料金额'
                    },
                {
                    field: 'outsourcewarehouse', 
                    title: '外协库'
                },
                {
                    field: 'outpeople', 
                    title: '退库人'
                },
                {
                    field: 'outstoragecause', 
                    title: '退库原因'
                },
                {
                    field: 'comments', 
                    title: '备注'
                },
                {
                    field: 'ctime',
                    title: '退库时间'
                },

               ]
            };
            $.table.init(options);
        });

        function Info() {
            table.set();
            var row = $("#bootstrap-table").bootstrapTable('getSelections')[0];



                $.modal.openTab(row.storagequitbillid+"退料单详细信息",prefix1+"/"+row.id);



        }

        function Infotwo(id,storagequitbillid) {
            table.set();
            $.modal.openTab(storagequitbillid+"退库单详细信息",prefix1+"/"+id);
        }

        function reddashed() {
            table.set();
            var row = $("#bootstrap-table").bootstrapTable('getSelections')[0];
                $.modal.confirm("确定红冲该出库单吗？", function() {
                    $.ajax({
                        url : prefix+'/reddashed',
                        dataType : 'json',
                        type : 'post',
                        data:{"id":row.id},
                        beforeSend: function () {
                            $.modal.loading("正在处理中，请稍后...");
                        },
                        success: function(result) {
                            if (typeof callback == "function") {
                                callback(result);
                            }
                            $.operate.ajaxSuccess(result);
                            $.table.refresh();
                        }
                    });
                    $.ajax(config)
                });



        }

        function exportExcel(){
            var row=$("#bootstrap-table").bootstrapTable('getSelections')[0];
            window.location.href = prefix+'/export?id='+row.id;
        }

        function print(id) {
            var id=id;
            if(id==undefined){
                id = $("#bootstrap-table").bootstrapTable('getSelections')[0].id;
            }
            table.set();
            $.modal.openTab("打印退料单",prefix+"/print/"+id);


        }



    </script>
</body>
</html>