<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('退料单列表列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>退料单号：</label>
                                <input type="text" name="storagequitbillid"/>
                            </li>
                            <li>
                                <label>外协库：</label>
                                <input type="text" name="outsourcewarehouse"/>
                            </li>
                            <li>
                                <label>退料人：</label>
                                <input type="text" name="outpeople"/>
                            </li>
                            <li>
                                <label>退料原因：</label>
                                <input type="text" name="outstoragecause"/>
                            </li>
                            <li>
                                <label>备注：</label>
                                <input type="text" name="comments"/>
                            </li>
                            <li class="select-time">
                                <label>退料时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCTime]"/>
                            </li>
                            <li>
                                <label>红冲状态：</label>
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        <div class="radio-box" th:each="dict : ${@dict.getType('reddashed_status')}">
                                            <input type="radio" th:id="${dict.dictCode}" name="delStatus" th:value="${dict.dictValue}" th:checked="1">
                                            <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-primary single disabled" onclick="Info()" shiro:hasPermission="system:storagequitbill:info" >
                    <i class="fa fa-edit"></i> 查看
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:storagequitbill:export">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-danger single disabled" onclick="reddashed()" shiro:hasPermission="system:storagequitbill:reddashed">
                    <i class="fa fa-exclamation"></i> 红冲
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/storagequitbill";
        var prefix1 = ctx + "system/storagequitdetail";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "退料单列表",

                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: 'id',
                    visible: false
                },
                {
                    field: 'storagequitbillid', 
                    title: '退料单号'
                },
                {
                    field: 'outsourcewarehouse', 
                    title: '外协库'
                },
                {
                    field: 'outpeople', 
                    title: '退库人'
                },
                {
                    field: 'outstoragecause', 
                    title: '退库原因'
                },
                {
                    field: 'comments', 
                    title: '备注'
                },
                {
                    field: 'cTime', 
                    title: '退库时间'
                },

               ]
            };
            $.table.init(options);
        });

        function Info(id) {
            table.set();
            var row = $("#bootstrap-table").bootstrapTable('getSelections')[0];



                $.modal.openTab("退料单详细信息",prefix1+"/"+row.storagequitbillid);



        }



        function reddashed(id) {
            table.set();
            var row = $("#" + table.options.id).bootstrapTreeTable('getSelections')[0];

            if($.common.isEmpty(id) && table.options.type == table_type.bootstrapTreeTable) {
                if ($.common.isEmpty(row)) {
                    $.modal.alertWarning("请至少选择一条记录");
                    return;
                }
                var url = table.options.updateUrl.replace("{id}", row[table.options.uniqueId]);

                $.modal.openTab("修改" + table.options.modalName, url);
            } else {

                var  url= editUrl2();
                var id= url.substring( (url.lastIndexOf("/"))+1,url.length) ;
                $.modal.confirm("确定红冲该出库单吗？", function() {
                    $.ajax({
                        url : prefix+'/reddashed',
                        dataType : 'json',
                        type : 'post',
                        data:{"id":id},
                        beforeSend: function () {
                            $.modal.loading("正在处理中，请稍后...");
                        },
                        success: function(result) {
                            if (typeof callback == "function") {
                                callback(result);
                            }
                            $.operate.ajaxSuccess(result);
                            $.table.refresh();
                        }
                    });
                    $.ajax(config)
                });


            }
        }
        function editUrl2(id) {
            var url = "/404.html";
            if ($.common.isNotEmpty(id)) {

                url = table.options.updateUrl.replace("{id}", id);

            } else {
                var id = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);

                if (id.length == 0) {
                    $.modal.alertWarning("请至少选择一条记录");
                    return;
                }
                url = prefix+"/print/"+(id);

            }
            return url;
        }

    </script>
</body>
</html>