<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <th:block th:include="include :: header('入库产品列表列表')" />
    <link th:href="@{/css/bootstrap-table.min.css}" rel="stylesheet" type="text/css" />
    <style>
        .select-table table {
            table-layout:fixed;
        }

        .select-table .table td {

            /*规定段落中的文本不进行换行 */

            /* 配合宽度来使用 */
            height:40px;
        }
    </style>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <input name="storageinbillId" id="storageinbillId" th:value="${storageinbillId}" hidden="hidden"/>
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" id="button"  >
                    展开(收缩)
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <script src="http://www.jq22.com/jquery/jquery-migrate-1.2.1.min.js"></script>
     <script type="text/javascript" th:src="@{/js/jquery.jqprint-0.3.js}"></script>
     <script type="text/javascript" th:src="@{/js/bootstrap-table.min.js}"></script>
    <script th:inline="javascript">

        var editFlag = [[${@permission.hasPermi('system:storageindetail:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:storageindetail:remove')}]];
        var prefix = ctx + "system/storageindetail";
        var prefix1 = ctx + "system/materialChild";
        $button = $('#button');
        var $table = $('#bootstrap-table');
        $button.click(function () {
            var data=  $("#bootstrap-table" ).bootstrapTable('getData');

            for (var i=0;i<data.length;i++){
                $table.bootstrapTable('toggleDetailView', i)
            }

        })
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                showFooter: true,
                exportUrl: prefix + "/export",
                modalName: "入库产品列表",
                queryParams : {
                    storageinbillId: $("#storageinbillId").val()
                },
                detailView: true,
                onExpandRow : function(index, row, $detail) {
                    initChildTable(index, row, $detail);
                },
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: 'null',
                    visible: false
                },
                {
                    field: 'materialcode', 
                    title: '物料代码',
                },

                {
                    field: 'price',
                    title: '单价',
                },
                {
                    field: 'counts',
                    title: '数量',
                },
                {
                    field: 'money',
                    title: '总金额',
                },

                {
                    field: 'supplier',
                    title: '供应商',
                },
                {
                    field: 'rate',
                    title: '税率',
                },
                    {
                        field: 'taxamount',
                        title: '税额',
                    },
                    {
                        field: 'serialNumber',
                        title: '序列号',
                    },

                {
                    field: 'comments',
                    title: '备注',
                }

            ]
            };
            $.table.init(options);


            initChildTable = function(index, row, $detail) {
                var childTable = $detail.html('<table style="table-layout:fixed"></table>').find('table');
                $(childTable).bootstrapTable({
                    url: prefix1 + "/list",
                    method: 'post',
                    sidePagination: "server",
                    contentType: "application/x-www-form-urlencoded",
                    queryParams: {
                        materialId:row.materialId
                    },
                    columns: [

                        {
                            field: '',
                            title: ''
                        },
                        {
                            field: 'name',
                            title: '名称'
                        },
                        {
                            field: 'partnumber',
                            title: '型号'
                        },
                        {
                            field: 'description',
                            title: '描述'
                        },
                        {
                            field: 'footprint',
                            title: '封装'
                        },
                        {
                            field: 'manufacture',
                            title: '品牌'
                        },
                        {
                            field: 'unit',
                            title: '单位'
                        },
                        {
                            field: 'comments',
                            title: '备注'
                        }
                    ]
                });

            };
        })





    </script>
</body>
</html>