<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BomdetailMapper">
    
    <resultMap type="Bomdetail" id="BomdetailResult">
        <result property="id"    column="id"    />
        <result property="bomid"    column="bomid"    />
        <result property="code"    column="code"    />
        <result property="link"    column="link"    />
        <result property="comment"    column="comment"    />
        <result property="footprint"    column="footprint"    />
        <result property="description"    column="description"    />
        <result property="designator"    column="designator"    />
        <result property="quantity"    column="quantity"    />
        <result property="price"    column="price"    />
        <result property="parttype"    column="parttype"   />
    </resultMap>

    <sql id="selectBomdetailVo">
        select id, bomid, code, link,parttype, comment, footprint, description, designator, quantity, price from bom_listdetail
    </sql>

    <select id="selectBomdetailList" parameterType="Bomdetail" resultMap="BomdetailResult">
        <include refid="selectBomdetailVo"/>
        <where>  
            <if test="bomid != null "> and bomid = #{bomid}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="link != null  and link != ''"> and link = #{link}</if>
            <if test="comment != null  and comment != ''"> and comment = #{comment}</if>
            <if test="footprint != null  and footprint != ''"> and footprint = #{footprint}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="designator != null  and designator != ''"> and designator = #{designator}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="price != null "> and price = #{price}</if>

        </where>
    </select>
    
    <select id="selectBomdetailById" parameterType="Integer" resultMap="BomdetailResult">
        <include refid="selectBomdetailVo"/>
        where id = #{id}
    </select>
    <select id="selectBomBybomId" resultType="com.ruoyi.system.domain.Bomdetail">
        <include refid="selectBomdetailVo"/>
        where bomid = #{bomid}
    </select>

    <insert id="insertBomdetail" parameterType="Bomdetail" useGeneratedKeys="true" keyProperty="id">
        insert into bom_listdetail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bomid != null ">bomid,</if>
            <if test="parttype != null ">parttype,</if>
            <if test="code != null  and code != ''">code,</if>
            <if test="link != null  and link != ''">link,</if>
            <if test="comment != null  and comment != ''">comment,</if>
            <if test="footprint != null  and footprint != ''">footprint,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="designator != null  and designator != ''">designator,</if>
            <if test="quantity != null ">quantity,</if>
             price,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bomid != null ">#{bomid},</if>
            <if test="parttype != null ">#{parttype},</if>
            <if test="code != null  and code != ''">#{code},</if>
            <if test="link != null  and link != ''">#{link},</if>
            <if test="comment != null  and comment != ''">#{comment},</if>
            <if test="footprint != null  and footprint != ''">#{footprint},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="designator != null  and designator != ''">#{designator},</if>
            <if test="quantity != null ">#{quantity},</if>
            #{price},
         </trim>
    </insert>

    <update id="updateBomdetail" parameterType="Bomdetail">
        update bom_listdetail
        <trim prefix="SET" suffixOverrides=",">
            <if test="parttype != null ">parttype=#{parttype},</if>
            <if test="bomid != null ">bomid = #{bomid},</if>
            <if test="code != null  and code != ''">code = #{code},</if>
            <if test="link != null  and link != ''">link = #{link},</if>
            <if test="comment != null  and comment != ''">comment = #{comment},</if>
            <if test="footprint != null  and footprint != ''">footprint = #{footprint},</if>
            <if test="description != null  and description != ''">description = #{description},</if>
            <if test="designator != null  and designator != ''">designator = #{designator},</if>
            <if test="quantity != null ">quantity = #{quantity},</if>
            <if test="price != null ">price = #{price},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBomdetailById" parameterType="Integer">
        delete from bom_listdetail where id = #{id}
    </delete>

    <delete id="deleteBomdetailByIds" parameterType="String">
        delete from bom_listdetail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>