<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BomdetailMapper">
    
    <resultMap type="Bomdetail" id="BomdetailResult">
        <result property="id"    column="id"    />
        <result property="bomid"    column="bomid"    />
        <result property="msid"    column="msid"    />
        <result property="ssid"    column="ssid"    />
        <result property="comment"    column="comment"    />
        <result property="footprint"    column="footprint"    />
        <result property="description"    column="description"    />
        <result property="designator"    column="designator"    />
        <result property="quantity"    column="quantity"    />
        <result property="count"    column="count"    />
        <result property="sumcount"    column="sumcount"    />
    </resultMap>

    <sql id="selectBomdetailVo">
        select id, bomid, msid,ssid, comment, footprint, description, designator, quantity, count, sumcount from bomdetail
    </sql>

    <select id="selectBomdetailList" parameterType="Bomdetail" resultMap="BomdetailResult">
        <include refid="selectBomdetailVo"/>
        <where>  
            <if test="bomid != null "> and bomid = #{bomid}</if>
            <if test="msid != null "> and msid = #{msid}</if>
            <if test="comment != null  and comment != ''"> and comment = #{comment}</if>
            <if test="footprint != null  and footprint != ''"> and footprint = #{footprint}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="designator != null  and designator != ''"> and designator = #{designator}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="count != null "> and count = #{count}</if>
            <if test="sumcount != null "> and sumcount = #{sumcount}</if>
        </where>
    </select>
    
    <select id="selectBomdetailById" parameterType="Integer" resultMap="BomdetailResult">
        <include refid="selectBomdetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBomdetail" parameterType="Bomdetail" useGeneratedKeys="true" keyProperty="id">
        insert into bomdetail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bomid != null ">bomid,</if>
            <if test="msid != null ">msid,</if>
            <if test="ssid != null ">ssid,</if>
            <if test="comment != null  and comment != ''">comment,</if>
            <if test="footprint != null  and footprint != ''">footprint,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="designator != null  and designator != ''">designator,</if>
            <if test="quantity != null ">quantity,</if>
            <if test="count != null ">count,</if>
            <if test="sumcount != null ">sumcount,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bomid != null ">#{bomid},</if>
            <if test="msid != null ">#{msid},</if>
            <if test="ssid != null ">#{ssid},</if>
            <if test="comment != null  and comment != ''">#{comment},</if>
            <if test="footprint != null  and footprint != ''">#{footprint},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="designator != null  and designator != ''">#{designator},</if>
            <if test="quantity != null ">#{quantity},</if>
            <if test="count != null ">#{count},</if>
            <if test="sumcount != null ">#{sumcount},</if>
         </trim>
    </insert>

    <update id="updateBomdetail" parameterType="Bomdetail">
        update bomdetail
        <trim prefix="SET" suffixOverrides=",">
            <if test="bomid != null ">bomid = #{bomid},</if>
            <if test="msid != null ">msid = #{msid},</if>
            <if test="ssid != null ">ssid = #{ssid},</if>
            <if test="comment != null  and comment != ''">comment = #{comment},</if>
            <if test="footprint != null  and footprint != ''">footprint = #{footprint},</if>
            <if test="description != null  and description != ''">description = #{description},</if>
            <if test="designator != null  and designator != ''">designator = #{designator},</if>
            <if test="quantity != null ">quantity = #{quantity},</if>
            <if test="count != null ">count = #{count},</if>
            <if test="sumcount != null ">sumcount = #{sumcount},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBomdetailById" parameterType="Integer">
        delete from bomdetail where id = #{id}
    </delete>

    <delete id="deleteBomdetailByIds" parameterType="String">
        delete from bomdetail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>