<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MaterialdeptMapper">
    
    <resultMap type="Materialdept" id="MaterialdeptResult">
        <result property="id"    column="id"    />
        <result property="deptname"    column="deptname"    />
        <result property="orderNum"    column="order_num"    />
        <result property="code"    column="code"    />
        <result property="cTime"    column="c_time"    />
        <result property="uTime"    column="u_time"    />
    </resultMap>

    <sql id="selectMaterialdeptVo">
        select id, deptname, order_num, code, c_time, u_time from materialdept
    </sql>

    <select id="selectMaterialdeptList" parameterType="Materialdept" resultMap="MaterialdeptResult">
        <include refid="selectMaterialdeptVo"/>
        <where>
            <if test="deptname != null  and deptname != ''"> and deptname like concat('%', #{deptname}, '%')</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="cTime != null "> and c_time = #{cTime}</if>
            <if test="uTime != null "> and u_time = #{uTime}</if>
        </where>
    </select>
    
    <select id="selectMaterialdeptById" parameterType="Long" resultMap="MaterialdeptResult">
    <include refid="selectMaterialdeptVo"/>
    where id = #{id}
  </select>


    <select id="selectMaterialdeptByCode"  resultMap="MaterialdeptResult">
        <include refid="selectMaterialdeptVo"/>
        where code = #{code}
    </select>
        
    <insert id="insertMaterialdept" parameterType="Materialdept" useGeneratedKeys="true" keyProperty="id">
        insert into materialdept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptname != null  and deptname != ''">deptname,</if>
            <if test="orderNum != null ">order_num,</if>
            <if test="code != null  and code != ''">code,</if>
            <if test="cTime != null ">c_time,</if>
            <if test="uTime != null ">u_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptname != null  and deptname != ''">#{deptname},</if>
            <if test="orderNum != null ">#{orderNum},</if>
            <if test="code != null  and code != ''">#{code},</if>
            <if test="cTime != null ">#{cTime},</if>
            <if test="uTime != null ">#{uTime},</if>
         </trim>
    </insert>

    <update id="updateMaterialdept" parameterType="Materialdept">
        update materialdept
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptname != null  and deptname != ''">deptname = #{deptname},</if>
            <if test="orderNum != null ">order_num = #{orderNum},</if>
            <if test="code != null  and code != ''">code = #{code},</if>
            <if test="cTime != null ">c_time = #{cTime},</if>
           u_time = now(),
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMaterialdeptById" parameterType="Long">
        delete from materialdept where id = #{id}
    </delete>

    <delete id="deleteMaterialdeptByIds" parameterType="String">
        delete from materialdept where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>