<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OfferMapper">
    
    <resultMap type="Offer" id="OfferResult">
        <result property="offerId"    column="offer_id"    />
        <result property="offerNumber"    column="offer_number"    />
        <result property="offerUsername"    column="offer_username"    />
        <result property="offerSalesman"    column="offer_salesman"    />
        <result property="offerSalesmancontactway"    column="offer_salesmancontactway"    />
        <result property="offerMoney"    column="offer_money"    />
        <result property="offerProject"    column="offer_project"    />
        <result property="offerTime"    column="offer_time"    />
        <result property="context"    column="context"    />
        <result property="filename"    column="filename"    />
        <result property="accessory"    column="accessory"    />
        <result property="cTime"    column="c_time"    />
        <result property="uTime"    column="u_time"    />
    </resultMap>

    <sql id="selectOfferVo">
        select offer_id,filename, offer_number, offer_username, offer_salesman, offer_salesmancontactway, offer_money, offer_project, offer_time, context, accessory, c_time, u_time from offer
    </sql>

    <select id="selectOfferList" parameterType="Offer" resultMap="OfferResult">

        select a.offer_id, a.offer_number, a.offer_username, a.offer_salesman, a.offer_salesmancontactway, a.offer_money, a.offer_project, a.offer_time, a.context, a.accessory, a.c_time, a.u_time from offer a LEFT JOIN (SELECT offer_number,max(offer_time) offer_time from offer GROUP BY offer_number) b on   a.offer_number=b.offer_number and a.offer_time=b.offer_time


        <where>  
            <if test="offerNumber != null  and offerNumber != ''"> and a.offer_number = #{offerNumber}</if>
            <if test="offerUsername != null  and offerUsername != ''"> and a.offer_username like concat('%', #{offerUsername}, '%')</if>
            <if test="offerSalesman != null  and offerSalesman != ''"> and a.offer_salesman = #{offerSalesman}</if>
            <if test="offerProject != null  and offerProject != ''"> and a.offer_project = #{offerProject}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(a.offer_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(a.offer_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>

        </where>

        order by a.offer_number

    </select>
    
    <select id="selectOfferById" parameterType="Long" resultMap="OfferResult">
        <include refid="selectOfferVo"/>
        where offer_id = #{offerId}
    </select>

    <select id="selectOfferListByofferNumber"  resultMap="OfferResult">
        <include refid="selectOfferVo"/>
        where offer_number = #{offerNumber}
        order by offer_time desc
    </select>


    <select id="selectOfferMaxNumber"  resultType="String">
             select max(offer_number)  from offer limit 1

    </select>

        
    <insert id="insertOffer" parameterType="Offer" useGeneratedKeys="true" keyProperty="offerId">
        insert into offer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="offerNumber != null  and offerNumber != ''">offer_number,</if>
            <if test="offerUsername != null  and offerUsername != ''">offer_username,</if>
            <if test="offerSalesman != null  and offerSalesman != ''">offer_salesman,</if>
            <if test="offerSalesmancontactway != null  and offerSalesmancontactway != ''">offer_salesmancontactway,</if>
            <if test="offerMoney != null ">offer_money,</if>
            <if test="offerProject != null  and offerProject != ''">offer_project,</if>
            <if test="offerTime != null ">offer_time,</if>
            <if test="context != null  and context != ''">context,</if>
            <if test="accessory != null  and accessory != ''">accessory,</if>
            <if test="filename != null  and filename != ''">filename,</if>

            c_time,
            <if test="uTime != null ">u_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="offerNumber != null  and offerNumber != ''">#{offerNumber},</if>
            <if test="offerUsername != null  and offerUsername != ''">#{offerUsername},</if>
            <if test="offerSalesman != null  and offerSalesman != ''">#{offerSalesman},</if>
            <if test="offerSalesmancontactway != null  and offerSalesmancontactway != ''">#{offerSalesmancontactway},</if>
            <if test="offerMoney != null ">#{offerMoney},</if>
            <if test="offerProject != null  and offerProject != ''">#{offerProject},</if>
            <if test="offerTime != null ">#{offerTime},</if>
            <if test="context != null  and context != ''">#{context},</if>
            <if test="accessory != null  and accessory != ''">#{accessory},</if>
            <if test="filename != null  and filename != ''">#{filename},</if>
            now(),
            <if test="uTime != null ">#{uTime},</if>
         </trim>
    </insert>

    <update id="updateOffer" parameterType="Offer">
        update offer
        <trim prefix="SET" suffixOverrides=",">
            <if test="offerNumber != null  and offerNumber != ''">offer_number = #{offerNumber},</if>
            <if test="offerUsername != null  and offerUsername != ''">offer_username = #{offerUsername},</if>
            <if test="offerSalesman != null  and offerSalesman != ''">offer_salesman = #{offerSalesman},</if>
            <if test="offerSalesmancontactway != null  and offerSalesmancontactway != ''">offer_salesmancontactway = #{offerSalesmancontactway},</if>
            <if test="offerMoney != null ">offer_money = #{offerMoney},</if>
            <if test="offerProject != null  and offerProject != ''">offer_project = #{offerProject},</if>
            <if test="offerTime != null ">offer_time = #{offerTime},</if>
            <if test="context != null  and context != ''">context = #{context},</if>
            <if test="accessory != null  and accessory != ''">accessory = #{accessory},</if>
            <if test="filename != null  and filename != ''">filename=#{filename},</if>

            <if test="cTime != null ">c_time = #{cTime},</if>
           u_time= now(),
        </trim>
        where offer_id = #{offerId}
    </update>

    <delete id="deleteOfferById" parameterType="Long">
        delete from offer where offer_id = #{offerId}
    </delete>

    <delete id="deleteOfferByIds" parameterType="String">
        delete from offer where offer_id in 
        <foreach item="offerId" collection="array" open="(" separator="," close=")">
            #{offerId}
        </foreach>
    </delete>
    
</mapper>