<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StoragequitdetailMapper">
    
    <resultMap type="Storagequitdetail" id="StoragequitdetailResult">
        <result property="id"    column="id"    />
        <result property="sid"    column="sid"    />

        <result property="storagequitbillid"    column="storagequitbillid"    />
        <result property="materialcode"    column="materialcode"    />
        <result property="name"    column="name"    />
        <result property="partnumber"    column="partnumber"    />
        <result property="footprint"    column="footprint"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="manufacture"    column="manufacture"    />
        <result property="price"    column="price"    />
        <result property="counts"    column="counts"    />
        <result property="money"    column="money"    />
        <result property="unit"    column="unit"    />
        <result property="supplier"    column="supplier"    />
        <result property="comments"    column="comments"    />
        <result property="cTime"    column="c_time"    />
        <result property="uTime"    column="u_time"    />
    </resultMap>

    <sql id="selectStoragequitdetailVo">
        select id,sid, storagequitbillid, materialcode, name, partnumber, footprint, serial_number, manufacture, price, counts, money, unit, supplier, comments, c_time, u_time from storagequitdetail
    </sql>

    <select id="selectStoragequitdetailList" parameterType="Storagequitdetail" resultMap="StoragequitdetailResult">
        <include refid="selectStoragequitdetailVo"/>
        <where>
            <if test="storagequitbillid != null  and storagequitbillid != ''"> and storagequitbillid = #{storagequitbillid}</if>
            <if test="materialcode != null  and materialcode != ''"> and materialcode = #{materialcode}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="partnumber != null  and partnumber != ''"> and partnumber = #{partnumber}</if>
            <if test="manufacture != null  and manufacture != ''"> and manufacture = #{manufacture}</if>
            <if test="supplier != null  and supplier != ''"> and supplier = #{supplier}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(c_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(c_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>
    
    <select id="selectStoragequitdetailById" parameterType="Long" resultMap="StoragequitdetailResult">
        <include refid="selectStoragequitdetailVo"/>
        where id = #{id}
    </select>

    <select id="selectStorageindetailByStoragequitbillId"  resultMap="StoragequitdetailResult">
        <include refid="selectStoragequitdetailVo"/>
        where storagequitbillid = #{storagequitbillid}
    </select>

    <insert id="insertStoragequitdetail" parameterType="Storagequitdetail" useGeneratedKeys="true" keyProperty="id">
        insert into storagequitdetail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid != null  and sid != ''">sid,</if>

            <if test="storagequitbillid != null  and storagequitbillid != ''">storagequitbillid,</if>
            <if test="materialcode != null  and materialcode != ''">materialcode,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="partnumber != null  and partnumber != ''">partnumber,</if>
            <if test="footprint != null  and footprint != ''">footprint,</if>
            <if test="serialNumber != null  and serialNumber != ''">serial_number,</if>
            <if test="manufacture != null  and manufacture != ''">manufacture,</if>
            <if test="price != null ">price,</if>
            <if test="counts != null ">counts,</if>
            <if test="money != null ">money,</if>
            <if test="unit != null  and unit != ''">unit,</if>
            <if test="supplier != null  and supplier != ''">supplier,</if>
            <if test="comments != null  and comments != ''">comments,</if>
            <if test="cTime != null ">c_time,</if>
            <if test="uTime != null ">u_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sid != null  and sid != ''">#{sid},</if>
            <if test="storagequitbillid != null  and storagequitbillid != ''">#{storagequitbillid},</if>
            <if test="materialcode != null  and materialcode != ''">#{materialcode},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="partnumber != null  and partnumber != ''">#{partnumber},</if>
            <if test="footprint != null  and footprint != ''">#{footprint},</if>
            <if test="serialNumber != null  and serialNumber != ''">#{serialNumber},</if>
            <if test="manufacture != null  and manufacture != ''">#{manufacture},</if>
            <if test="price != null ">#{price},</if>
            <if test="counts != null ">#{counts},</if>
            <if test="money != null ">#{money},</if>
            <if test="unit != null  and unit != ''">#{unit},</if>
            <if test="supplier != null  and supplier != ''">#{supplier},</if>
            <if test="comments != null  and comments != ''">#{comments},</if>
            <if test="cTime != null ">#{cTime},</if>
            <if test="uTime != null ">#{uTime},</if>
         </trim>
    </insert>

    <update id="updateStoragequitdetail" parameterType="Storagequitdetail">
        update storagequitdetail
        <trim prefix="SET" suffixOverrides=",">
            <if test="storagequitbillid != null  and storagequitbillid != ''">storagequitbillid = #{storagequitbillid},</if>
            <if test="materialcode != null  and materialcode != ''">materialcode = #{materialcode},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="partnumber != null  and partnumber != ''">partnumber = #{partnumber},</if>
            <if test="footprint != null  and footprint != ''">footprint = #{footprint},</if>
            <if test="serialNumber != null  and serialNumber != ''">serial_number = #{serialNumber},</if>
            <if test="manufacture != null  and manufacture != ''">manufacture = #{manufacture},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="counts != null ">counts = #{counts},</if>
            <if test="money != null ">money = #{money},</if>
            <if test="unit != null  and unit != ''">unit = #{unit},</if>
            <if test="supplier != null  and supplier != ''">supplier = #{supplier},</if>
            <if test="comments != null  and comments != ''">comments = #{comments},</if>
            <if test="cTime != null ">c_time = #{cTime},</if>
            <if test="uTime != null ">u_time = #{uTime},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateMaterial">
    update  storagequitdetail set name=#{name},materialcode=#{materialcode},partnumber=#{partnumber},footprint=#{footprint},unit=#{unit},manufacture=#{manufacture} where materialcode=#{oldmaterialcode}
    </update>
    <delete id="deleteStoragequitdetailById" parameterType="Long">
        delete from storagequitdetail where id = #{id}
    </delete>




    <delete id="deleteStoragequitdetailByIds" parameterType="String">
        delete from storagequitdetail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>