<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StorageinbillMapper">
    
    <resultMap type="Storageinbill" id="StorageinbillResult">
        <result property="id"    column="id"    />
        <result property="delStatus"    column="del_status"    />
        <result property="stockinid"    column="stockinid"    />
        <result property="money"    column="money"    />
        <result property="supplier"    column="supplier"    />
        <result property="applyid"    column="applyid"    />
        <result property="contractid"    column="contractid"    />
        <result property="invoiceid"    column="invoiceid"    />
        <result property="expressid"    column="expressid"    />
        <result property="instoragecause"    column="instoragecause"    />
        <result property="projectname"    column="projectname"    />
        <result property="proposer"    column="proposer"    />
        <result property="outsourcewarehouseid"    column="outsourcewarehouseid"    />
        <result property="outsourcewarehouse"    column="outsourcewarehouse"    />
        <result property="purchaseid"    column="purchaseid"    />
        <result property="deliveryman"    column="deliveryman"    />
        <result property="warehouseadmin"    column="warehouseadmin"    />
        <result property="storagentime"    column="storagentime"    />
        <result property="comments"    column="comments"    />
        <result property="status"    column="status"    />
        <result property="cTime"    column="c_time"    />
        <result property="uTime"    column="u_time"    />
        <result property="delStatus"    column="del_status"    />
    </resultMap>

    <sql id="selectStorageinbillVo">
        select s.id,sum(money) as money,del_status ,applyid,contractid,invoiceid,expressid,instoragecause,projectname,proposer, stockinid, s.supplier ,outsourcewarehouseid,outsourcewarehouse, s.purchaseid, deliveryman, warehouseadmin, storagentime, s.comments, status, s.c_time, s.u_time from storageinbill s LEFT JOIN storageindetail
				on stockinid=storageinbillid
    </sql>

    <select id="selectStorageinbillList" parameterType="Storageinbill" resultMap="StorageinbillResult">
        <include refid="selectStorageinbillVo"/>
        <where>
            <if test="stockinid != null  and stockinid != ''"> and stockinid like concat('%', #{stockinid}, '%')</if>

            <if test="status != null  and status != ''"> and status=#{status}</if>
            <if test="delStatus == 1 "> and del_status = 1</if>
            <if test="delStatus == 2 "> and del_status = 2</if>
            <if test="outsourcewarehouse != null  and outsourcewarehouse != ''"> and outsourcewarehouse like concat('%', #{outsourcewarehouse}, '%')</if>
            <if test="supplier != null  and supplier != ''"> and s.supplier like concat('%', #{supplier}, '%')</if>
            <if test="instoragecause != null  and instoragecause != ''"> and instoragecause like concat('%', #{instoragecause}, '%')</if>
            <if test="projectname != null  and projectname != ''"> and projectname like concat('%', #{projectname}, '%')</if>
            <if test="expressid != null  and expressid != ''"> and expressid like concat('%', #{expressid}, '%')</if>
            <if test="invoiceid != null  and invoiceid != ''"> and invoiceid like concat('%', #{invoiceid}, '%')</if>
            <if test="invoiceid != null  and contractid != ''"> and contractid like concat('%', #{contractid}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != '' "><!-- 开始时间检索 -->
                AND  storagentime    between  #{params.beginTime} and #{params.endTime}
            </if>
            <if test="comments != null  and comments != ''">
                and s.comments like concat('%', #{comments}, '%')
            </if>

        </where>
        GROUP BY stockinid
    </select>
    
    <select id="selectStorageinbillById" parameterType="Long" resultMap="StorageinbillResult">
        <include refid="selectStorageinbillVo"/>
        where s.id = #{id}
    </select>

    <select id="selectStorageinbillByStockinid" parameterType="String" resultMap="StorageinbillResult">
        <include refid="selectStorageinbillVo"/>
        where stockinid = #{stockinid}
    </select>
        
    <insert id="insertStorageinbill"  parameterType="Storageinbill" useGeneratedKeys="true" keyProperty="id">
        insert into storageinbill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stockinid != null  and stockinid != ''">stockinid,</if>
            <if test="applyid != null  and applyid != ''">applyid,</if>
            <if test="purchaseid != null  and purchaseid != ''">purchaseid,</if>
            <if test="contractid != null  and contractid != ''">contractid,</if>
            <if test="invoiceid != null  and invoiceid != ''">invoiceid,</if>
            <if test="supplier != null  and supplier != ''">supplier,</if>
            <if test="expressid != null  and expressid != ''">expressid,</if>
            <if test="instoragecause != null  and instoragecause != ''">instoragecause,</if>
            <if test="projectname != null  and projectname != ''">projectname,</if>
            <if test="proposer != null  and proposer != ''">proposer,</if>
            <if test="outsourcewarehouse != null  and outsourcewarehouse != ''">outsourcewarehouse,</if>
            <if test="outsourcewarehouseid != null  and outsourcewarehouseid != ''">outsourcewarehouseid,</if>
            <if test="deliveryman != null  and deliveryman != ''">deliveryman,</if>
            <if test="warehouseadmin != null  and warehouseadmin != ''">warehouseadmin,</if>
            <if test="storagentime != null and storagentime!='' ">storagentime,</if>
            <if test="comments != null  and comments != ''">comments,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="cTime != null ">c_time,</if>
            <if test="uTime != null ">u_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stockinid != null  and stockinid != ''">#{stockinid},</if>
            <if test="applyid != null  and applyid != ''">#{applyid},</if>
            <if test="purchaseid != null  and purchaseid != ''">#{purchaseid},</if>
            <if test="contractid != null  and contractid != ''">#{contractid},</if>
            <if test="invoiceid != null  and invoiceid != ''">#{invoiceid},</if>
            <if test="supplier != null  and supplier != ''">#{supplier},</if>
            <if test="expressid != null  and expressid != ''">#{expressid},</if>
            <if test="instoragecause != null  and instoragecause != ''">#{instoragecause},</if>
            <if test="projectname != null  and projectname != ''">#{projectname},</if>
            <if test="proposer != null  and proposer != ''">#{proposer},</if>
            <if test="outsourcewarehouse != null  and outsourcewarehouse != ''">#{outsourcewarehouse},</if>
            <if test="outsourcewarehouseid != null  and outsourcewarehouseid != ''">#{outsourcewarehouseid},</if>
            <if test="deliveryman != null  and deliveryman != ''">#{deliveryman},</if>
            <if test="warehouseadmin != null  and warehouseadmin != ''">#{warehouseadmin},</if>
            <if test="storagentime != null and storagentime!=''">#{storagentime},</if>
            <if test="comments != null  and comments != ''">#{comments},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="cTime != null ">#{cTime},</if>
            <if test="uTime != null ">#{uTime},</if>
         </trim>
    </insert>

    <update id="updateStorageinbillApply">

         update storageinbill set status=1 where id=#{id}

    </update>

    <update id="updateStorageinbillFatify">

         update storageinbill set status=2 where id=#{id}

    </update>


    <update id="updateStorageinbillTurn">

         update storageinbill set status=3 where id=#{id}

    </update>


    <update id="updateStorageinbill" parameterType="Storageinbill">
        update storageinbill
        <trim prefix="SET" suffixOverrides=",">
            <if test="stockinid != null  and stockinid != ''">stockinid = #{stockinid},</if>
            <if test="outsourcewarehouse != null  and outsourcewarehouse != ''">outsourcewarehouse = #{outsourcewarehouse},</if>
            <if test="outsourcewarehouseid != null ">outsourcewarehouseid = #{outsourcewarehouseid},</if>
            <if test="purchaseid != null  and purchaseid != ''">purchaseid = #{purchaseid},</if>
            <if test="deliveryman != null  and deliveryman != ''">deliveryman = #{deliveryman},</if>
            <if test="warehouseadmin != null  and warehouseadmin != ''">warehouseadmin = #{warehouseadmin},</if>
            <if test="storagentime != null ">storagentime = #{storagentime},</if>
            <if test="comments != null  and comments != ''">comments = #{comments},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="applyid != null  and applyid != ''">applyid = #{applyid},</if>
            <if test="contractid != null  and contractid != ''">contractid = #{contractid},</if>
            <if test="invoiceid != null  and invoiceid != ''">invoiceid = #{invoiceid},</if>
            <if test="supplier != null  and supplier != ''">supplier = #{supplier},</if>
            <if test="expressid != null  and expressid != ''">expressid = #{expressid},</if>
            <if test="instoragecause != null  and instoragecause != ''">instoragecause = #{instoragecause},</if>
            <if test="projectname != null  and projectname != ''">projectname = #{projectname},</if>
            <if test="proposer != null  and proposer != ''">proposer = #{proposer},</if>
            <if test="delStatus != null  and delStatus != ''">del_status = #{delStatus},</if>
            <if test="cTime != null ">c_time = #{cTime},</if>
            <if test="uTime != null ">u_time = #{uTime},</if>
        </trim>
        where id = #{id}
    </update>

<update id="updatedelStatus">
      update storageinbill set del_status='2' where id=#{id}
</update>


    <delete id="deleteStorageinbillById" parameterType="Long">
        delete from storageinbill where id = #{id}
    </delete>

    <delete id="deleteStorageinbillByIds" parameterType="String">
        delete from storageinbill where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    
</mapper>