<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StorageoutdetailMapper">
    
    <resultMap type="Storageoutdetail" id="StorageoutdetailResult">
        <result property="id"    column="id"    />
        <result property="sid"    column="sid"    />
        <result property="storageoutbillid"    column="storageoutbillid"    />
        <result property="materialcode"    column="materialcode"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="counts"    column="counts"    />
        <result property="comments"    column="comments"    />
    </resultMap>

    <sql id="selectStorageoutdetailVo">
        select id, sid,storageoutbillid, materialcode, serial_number, counts,  comments from storageoutdetail
    </sql>


    <select id="selectStorageoutdetailList" parameterType="Storageoutdetail" resultMap="StorageoutdetailResult">
            <include refid="selectStorageoutdetailVo" />
        <where>
            <if test="storageoutbillid != null  and storageoutbillid != ''"> and storageoutbillid=#{storageoutbillid}</if>
        </where>
    </select>
    
    <select id="selectStorageoutdetailById" parameterType="Long" resultMap="StorageoutdetailResult">
        <include refid="selectStorageoutdetailVo"/>
        where id = #{id}
    </select>


    <select id="selectStorageindetailByStorageoutdetailId"  resultMap="StorageoutdetailResult">
   select    sid,id, storageoutbillid,serial_number,materialcode, counts, comments from storageoutdetail

        where storageoutbillid = #{storageoutbillid}
    </select>


    <insert id="insertStorageoutdetail" parameterType="Storageoutdetail" useGeneratedKeys="true" keyProperty="id">
        insert into storageoutdetail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storageoutbillid != null  and storageoutbillid != ''">storageoutbillid,</if>
            <if test="sid != null  and sid != ''">sid,</if>
            <if test="materialcode != null  and materialcode != ''">materialcode,</if>
            <if test="serialNumber != null  and serialNumber != ''">serial_number,</if>
            <if test="counts != null ">counts,</if>
            <if test="comments != null  and comments != ''">comments,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storageoutbillid != null  and storageoutbillid != ''">#{storageoutbillid},</if>
            <if test="sid != null  and sid != ''">#{sid},</if>
            <if test="materialcode != null  and materialcode != ''">#{materialcode},</if>
            <if test="serialNumber != null  and serialNumber != ''">#{serialNumber},</if>
            <if test="counts != null ">#{counts},</if>
            <if test="comments != null  and comments != ''">#{comments},</if>
         </trim>
    </insert>



    <delete id="deleteStorageoutdetailById" parameterType="Long">
        delete from storageoutdetail where id = #{id}
    </delete>

    <delete id="deleteStorageoutdetailByIds" parameterType="String">
        delete from storageoutdetail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>





</mapper>