<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StorageoutbillMapper">
    
    <resultMap type="Storageoutbill" id="StorageoutbillResult">
        <result property="id"    column="id"    />
        <result property="money"    column="money"    />
        <result property="storageoutid"    column="storageoutid"    />
        <result property="customer"    column="customer"    />
        <result property="applyid"    column="applyid"    />
        <result property="contractid"    column="contractid"    />
        <result property="invoiceid"    column="invoiceid"    />
        <result property="expressid"    column="expressid"    />
        <result property="instoragecause"    column="instoragecause"    />
        <result property="projectname"    column="projectname"    />
        <result property="proposer"    column="proposer"    />
        <result property="outsourcewarehouse"    column="outsourcewarehouse"    />
        <result property="outsourcewarehouseid"    column="outsourcewarehouseid"    />
        <result property="stockrequisition"    column="stockrequisition"    />
        <result property="warehouseadmin"    column="warehouseadmin"    />
        <result property="stockpeople"    column="stockpeople"    />
        <result property="storageouttime"    column="storageouttime"    />
        <result property="comments"    column="comments"    />
        <result property="cTime"    column="c_time"    />
        <result property="uTime"    column="u_time"    />
        <result property="delStatus"    column="del_status"    />
    </resultMap>

    <sql id="selectStorageoutbillVo">
        select customer,sum(money) as money,purchaseid,applyid,contractid,invoiceid,expressid,instoragecause,projectname,proposer,s.id, storageoutid, outsourcewarehouse, outsourcewarehouseid, stockrequisition, warehouseadmin, stockpeople, storageouttime, s.comments, s.c_time, s.u_time, del_status
        from storageoutbill s LEFT JOIN storageoutdetail s1
				on storageoutid=storageoutbillid


    </sql>

    <select id="selectStorageoutbillList" parameterType="Storageoutbill" resultMap="StorageoutbillResult">
        <include refid="selectStorageoutbillVo"/>
        <where>
            <if test="storageoutid != null  and storageoutid != ''"> and storageoutid like concat('%', #{storageoutid}, '%')</if>
            <if test="delStatus == 1 "> and del_status in (1,3)</if>
            <if test="delStatus == 2 "> and del_status = 2</if>
            <if test="outsourcewarehouse != null  and outsourcewarehouse != ''"> and outsourcewarehouse like concat('%', #{outsourcewarehouse}, '%')</if>
            <if test="instoragecause != null  and instoragecause != ''"> and instoragecause like concat('%', #{instoragecause}, '%')</if>
            <if test="projectname != null  and projectname != ''"> and projectname like concat('%', #{projectname}, '%')</if>
            <if test="customer != null  and customer != ''"> and customer like concat('%', #{customer}, '%')</if>
            <if test="expressid != null  and expressid != ''"> and expressid like concat('%', #{expressid}, '%')</if>
            <if test="invoiceid != null  and invoiceid != ''"> and invoiceid like concat('%', #{invoiceid}, '%')</if>
            <if test="invoiceid != null  and contractid != ''"> and contractid like concat('%', #{contractid}, '%')</if>
            <if test="stockrequisition != null  and stockrequisition != ''"> and stockrequisition like concat('%', #{stockrequisition}, '%')</if>
            <if test="storageouttime != null "> and storageouttime = #{storageouttime}</if>
            <if test="comments != null  and comments != ''"> and comments like concat('%', #{comments}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != '' "><!-- 开始时间检索 -->
                AND  storageouttime    between  #{params.beginTime} and #{params.endTime}
            </if>

        </where>
        GROUP BY  s.storageoutid
    </select>
    
    <select id="selectStorageoutbillById" parameterType="Long" resultMap="StorageoutbillResult">
        <include refid="selectStorageoutbillVo"/>
        where s.id = #{id}
    </select>
    <select id="selectStorageoutbillByStorageoutId" resultMap="StorageoutbillResult">
        <include refid="selectStorageoutbillVo"/>
        where storageoutid = #{storageoutid}
    </select>
        
    <insert id="insertStorageoutbill" parameterType="Storageoutbill" useGeneratedKeys="true" keyProperty="id">
        insert into storageoutbill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storageoutid != null  and storageoutid != ''">storageoutid,</if>
            <if test="purchaseid != null  and purchaseid != ''">purchaseid,</if>

            <if test="applyid != null  and applyid != ''">applyid,</if>
            <if test="contractid != null  and contractid != ''">contractid,</if>
            <if test="invoiceid != null  and invoiceid != ''">invoiceid,</if>
            <if test="customer != null  and customer != ''">customer,</if>
            <if test="expressid != null  and expressid != ''">expressid,</if>
            <if test="instoragecause != null  and instoragecause != ''">instoragecause,</if>
            <if test="projectname != null  and projectname != ''">projectname,</if>
            <if test="proposer != null  and proposer != ''">proposer,</if>
            <if test="outsourcewarehouse != null  and outsourcewarehouse != ''">outsourcewarehouse,</if>
            <if test="outsourcewarehouseid != null ">outsourcewarehouseid,</if>
            <if test="stockrequisition != null  and stockrequisition != ''">stockrequisition,</if>
            <if test="warehouseadmin != null  and warehouseadmin != ''">warehouseadmin,</if>
            <if test="stockpeople != null  and stockpeople != ''">stockpeople,</if>
            <if test="storageouttime != null ">storageouttime,</if>
            <if test="comments != null  and comments != ''">comments,</if>
            <if test="cTime != null ">c_time,</if>
            <if test="uTime != null ">u_time,</if>
            <if test="delStatus != null ">del_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storageoutid != null  and storageoutid != ''">#{storageoutid},</if>
            <if test="purchaseid != null  and purchaseid != ''">#{purchaseid},</if>
            <if test="applyid != null  and applyid != ''">#{applyid},</if>
            <if test="contractid != null  and contractid != ''">#{contractid},</if>
            <if test="invoiceid != null  and invoiceid != ''">#{invoiceid},</if>
            <if test="customer != null  and customer != ''">#{customer},</if>
            <if test="expressid != null  and expressid != ''">#{expressid},</if>
            <if test="instoragecause != null  and instoragecause != ''">#{instoragecause},</if>
            <if test="projectname != null  and projectname != ''">#{projectname},</if>
            <if test="proposer != null  and proposer != ''">#{proposer},</if>
            <if test="outsourcewarehouse != null  and outsourcewarehouse != ''">#{outsourcewarehouse},</if>
            <if test="outsourcewarehouseid != null ">#{outsourcewarehouseid},</if>
            <if test="stockrequisition != null  and stockrequisition != ''">#{stockrequisition},</if>
            <if test="warehouseadmin != null  and warehouseadmin != ''">#{warehouseadmin},</if>
            <if test="stockpeople != null  and stockpeople != ''">#{stockpeople},</if>
            <if test="storageouttime != null ">#{storageouttime},</if>
            <if test="comments != null  and comments != ''">#{comments},</if>
            <if test="cTime != null ">#{cTime},</if>
            <if test="uTime != null ">#{uTime},</if>
            <if test="delStatus != null ">#{delStatus},</if>
         </trim>
    </insert>

    <update id="updateStorageoutbill" parameterType="Storageoutbill">
        update storageoutbill
        <trim prefix="SET" suffixOverrides=",">
            <if test="storageoutid != null  and storageoutid != ''">storageoutid = #{storageoutid},</if>
            <if test="outsourcewarehouse != null  and outsourcewarehouse != ''">outsourcewarehouse = #{outsourcewarehouse},</if>
            <if test="outsourcewarehouseid != null ">outsourcewarehouseid = #{outsourcewarehouseid},</if>
            <if test="stockrequisition != null  and stockrequisition != ''">stockrequisition = #{stockrequisition},</if>
            <if test="warehouseadmin != null  and warehouseadmin != ''">warehouseadmin = #{warehouseadmin},</if>
            <if test="stockpeople != null  and stockpeople != ''">stockpeople = #{stockpeople},</if>
            <if test="storageouttime != null ">storageouttime = #{storageouttime},</if>
            <if test="comments != null  and comments != ''">comments = #{comments},</if>
            <if test="customer != null  and customer != ''">customer = #{customer},</if>
            <if test="purchaseid != null  and purchaseid != ''">purchaseid = #{purchaseid},</if>
            <if test="applyid != null  and applyid != ''">applyid = #{applyid},</if>
            <if test="contractid != null  and contractid != ''">contractid = #{contractid},</if>
            <if test="invoiceid != null  and invoiceid != ''">invoiceid = #{invoiceid},</if>
            <if test="expressid != null  and expressid != ''">expressid = #{expressid},</if>
            <if test="instoragecause != null  and instoragecause != ''">instoragecause = #{instoragecause},</if>
            <if test="projectname != null  and projectname != ''">projectname = #{projectname},</if>
            <if test="proposer != null  and proposer != ''">proposer = #{proposer},</if>
            <if test="cTime != null ">c_time = #{cTime},</if>
            <if test="uTime != null ">u_time = #{uTime},</if>
            <if test="delStatus != null  and delStatus != ''">del_status = #{delStatus},</if>
        </trim>
        where id = #{id}
    </update>
    <delete id="deleteStorageoutbillById" parameterType="Long">
        delete from storageoutbill where id = #{id}

    </delete>




    <delete id="deleteStorageoutbillByIds" parameterType="String">
        delete from storageoutbill where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updatedelStatus">
      update storageoutbill set del_status='2' where id=#{id}
</update>


</mapper>