<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StorageindetailMapper">
    
    <resultMap type="Storageindetail" id="StorageindetailResult">
        <result property="id"    column="id"    />
        <result property="sid"    column="sid"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="storageinbillId"    column="storageinbill_id"    />
        <result property="materialcode"    column="materialcode"    />
        <result property="price"    column="price"    />
        <result property="counts"    column="counts"    />
        <result property="money"    column="money"    />
        <result property="supplier"    column="supplier"    />
        <result property="rate"    column="rate"    />
        <result property="comments"    column="comments"    />
        <result property="taxamount"    column="taxamount"    />
        <result property="materialId" column="material_id"/>
        <collection property="materialChildList" column="material_id" ofType="com.ruoyi.system.domain.MaterialChild"
        select="com.ruoyi.system.mapper.MaterialChildMapper.selectMaterialChildByMaterialId"
        >

        </collection>
    </resultMap>

    <sql id="selectStorageindetailVo" >
        select  sid, id, material_id,storageinbill_id,serial_number,materialcode,price, counts, money, supplier, rate,  comments, taxamount from st_indetail
    </sql>

    <select id="selectStorageindetailList" parameterType="Storageindetail" resultMap="StorageindetailResult">
        <include refid="selectStorageindetailVo"/>
        <where>
            <if test="storageinbillId != null  and storageinbillId != ''"> and storageinbill_id = #{storageinbillId}</if>
        </where>
    </select>
    <select id="selectStorageindetailById" parameterType="Long" resultMap="StorageindetailResult">
        <include refid="selectStorageindetailVo"/>
        where id = #{id}
    </select>

    <select id="selectStorageindetailByStorageinbillSid" resultMap="StorageindetailResult">
        select price  from st_indetail s
      left join st_inbill s1 on s1.id=s.storageinbill_id
      where sid=#{sid}   and   s1.del_status=1
    </select>


    <select id="findByStorageinbillId" resultMap="StorageindetailResult">
        <include refid="selectStorageindetailVo" />
        where storageinbill_id=#{id}
    </select>


    <insert id="insertStorageindetail" parameterType="Storageindetail" useGeneratedKeys="true" keyProperty="id">
        insert into st_indetail
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="materialId != null  and materialId != ''">material_id,</if>
            <if test="sid != null  and sid != ''">sid,</if>
            <if test="storageinbillId != null  and storageinbillId != ''">storageinbill_id,</if>
            <if test="materialcode != null  and materialcode != ''">materialcode,</if>
            <if test="serialNumber != null and serialNumber!=''  ">serial_number,</if>
            <if test="price != null">price,</if>
            <if test="counts != null  and counts != ''">counts,</if>
            <if test="money != null">money,</if>
            <if test="supplier != null  and supplier != ''">supplier,</if>
            <if test="rate != null  and rate != ''">rate,</if>
            <if test="comments != null  and comments != ''">comments,</if>
            <if test="taxamount != null and taxamount !='' ">taxamount,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

          <if test="materialId != null  and materialId != ''">#{materialId},</if>
            <if test="sid != null  and sid != ''">#{sid},</if>
            <if test="storageinbillId != null  and storageinbillId != ''">#{storageinbillId},</if>
            <if test="materialcode != null  and materialcode != ''">#{materialcode},</if>
            <if test="serialNumber != null  and serialNumber != ''">#{serialNumber},</if>
            <if test="price != null ">#{price},</if>
            <if test="counts != null  and counts != ''">#{counts},</if>
            <if test="money != null ">#{money},</if>
            <if test="supplier != null  and supplier != ''">#{supplier},</if>
            <if test="rate != null  and rate != ''">#{rate},</if>
            <if test="comments != null  and comments != ''">#{comments},</if>
            <if test="taxamount != null and taxamount!=''  ">#{taxamount},</if>
         </trim>
    </insert>



    <delete id="deleteStorageindetailById" parameterType="Long">
        delete from st_indetail where id = #{id}
    </delete>


    
</mapper>