<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增入库单列表')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
    <th:block th:include="include :: bootstrap-editable-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-storageinbill-add">
        <h4 class="form-header h4">入库单信息</h4>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">入库单号：</label>
                    <div class="col-sm-8">
                        <input name="stockinid" readonly id="stockinid"  class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">供应商：</label>
                    <div class="col-sm-8">
                        <select required  name="supplier" id="supplier" class="form-control m-b">
                            <option value="">所有</option>
                            <option  th:each="supplier:${supplierList}"
                                     th:value="${supplier.name}"
                                     th:text="${supplier.name}"

                            ></option>


                            ></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">合同单号
                        ：</label>
                    <div class="col-sm-8">
                        <input name="contractid" id="contractid" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">发票单号
                        ：</label>
                    <div class="col-sm-8">
                        <input name="invoiceid" id="invoiceid" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">快递单号
                        ：</label>
                    <div class="col-sm-8">
                        <input name="expressid" id="expressid" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        入库原因
                        ：</label>
                    <div class="col-sm-8">
                        <input name="instoragecause" id="instoragecause" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <label class="col-sm-3 control-label">
                    申请人
                    ：</label>
                <div class="col-sm-8">
                    <select  name="proposer" id="proposer" class="form-control m-b">
                        <option value="">所有</option>
                        <option  th:each="user:${userList}"
                                 th:value="${user.userName}"
                                 th:text="${user.userName}"

                        ></option>
                        <option  th:selected="*{userName=='陈忠'}">陈忠</option>
                        <option  th:selected="*{userName=='赵建忠'}">陈荣</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">送货人：</label>
                    <div class="col-sm-8">
                        <select  name="deliveryman" id="deliveryman" class="form-control m-b">
                            <option value="">所有</option>
                            <option  th:each="user:${userList}"
                                     th:value="${user.userName}"
                                     th:text="${user.userName}"

                            ></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-sm-6">
                <label class="col-sm-3 control-label">库管员：</label>
                <div class="col-sm-8">
                    <select  name="warehouseadmin" id="warehouseadmin" class="form-control m-b">
                        <option value="">所有</option>
                        <option  th:each="user:${userList}"
                                 th:value="${user.userName}"
                                 th:text="${user.userName}"
                                 th:selected="${user.userName}==*{userName}"
                        ></option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        项目名称
                        ：</label>
                    <div class="col-sm-8">
                        <select  name="projectname" id="projectname" class="form-control m-b">
                            <option value="">所有</option>
                            <option  th:each="project:${projectList}"
                                     th:value="${project.name}"
                                     th:text="${project.name}"
                            ></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-sm-6">
                <label class="col-sm-3 control-label">采购单号：</label>
                <div class="col-sm-8">
                    <input name="purchaseid" id="purchaseid" class="form-control" type="text">
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">申请单号
                        ：</label>
                    <div class="col-sm-8">
                        <input name="applyid" id="applyid" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="comments" id="comments" class="form-control" type="text">
                </div>

            </div>
            <div class="col-sm-6">
                <label class="col-sm-3 control-label">外协库：</label>
                <div class="col-sm-8">
                    <div class="ui-layout-content">
                        <div id="tree"   class="ztree"></div>
                        <input id="deptId" name="outsourcewarehouse" required hidden="hidden">
                    </div>

                </div>
            </div>
        </div>


    </form>

</div>
<h4 class="form-header h4">入库产品</h4>
<div class="container-div">
    <div class="btn-group-sm" id="toolbar1" role="group">
        <a class="btn btn-success" onclick="insertRow()">
            <i class="fa fa-plus"></i> 新增行
        </a>
        <a class="btn btn-danger multiple disabled" onclick="removeRow()">
            <i class="fa fa-remove"></i> 删除选择行
        </a>
        <a class="btn btn-danger" onclick="removeRowAll()">
            <i class="fa fa-remove"></i> 删除所有行
        </a>
        <a class="btn btn-warning" onclick="$.table.exportExcel()">
            <i class="fa fa-download"></i> 导出
        </a>
    </div>
<div class="col-xs-12 select-table table-striped" style="margin-bottom: 3%;">
    <table id="bootstrap-table1"></table>
</div>

<h4 class="form-header h4" >物料列表</h4>

<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="form2">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>物料编码：</label>
                                <input type="text" name="materialcode"/>
                            </li>
                            <li>
                                <label>名称：</label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label>型号：</label>
                                <input type="text" name="partnumber"/>
                            </li>
                            <li>
                                <label>描述：</label>
                                <input type="text" name="description"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('form2', 'bootstrap-table2')"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('form2', 'bootstrap-table2')"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="btn-group-sm" id="toolbar2" role="group">

                <a class="btn btn-success" onclick="clonerow()">
                    <i class="fa fa-plus"></i> 移入
                </a>

            </div>
<div class="col-xs-12 select-table table-striped" style="margin-bottom: 2%">
    <table id="bootstrap-table2" ></table>
</div>
            <div class="row">
                <div class="col-sm-offset-5 col-sm-10">
                    <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
                    <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
                </div>
            </div>
 <th:block th:include="include :: footer" />
 <th:block th:include="include :: layout-latest-js" />
 <th:block th:include="include :: ztree-js" />
            <th:block th:include="include :: bootstrap-table-editable-js" />
<script type="text/javascript">
    var prefix = ctx + "system/material"
    $("#form-storageinbill-add").validate({
        focusCleanup: true
    });

    function submitHandler() {

        if($("#deptId").val()==""){
            alert("请选择子仓库");
            return;
        }
        if ($.validate.form()) {

                var data = $("#bootstrap-table1" ).bootstrapTable('getData');
                if(data==null||data.length==0){
                    alert("请填写入库产品!");
                    return;
                }

                for(var i=0;i<data.length;i++){
                    if(data[i].counts<=0){
                        alert("入库数量必须大于0!")
                        return;
                    }
                }

                $.ajax({
                    url:  ctx + "system/storage/add",
                    type: "post",
                    dataType: "json",
                    beforeSend: function () {
                        $.modal.loading("正在处理中，请稍后...");
                    },
                    data: {
                        "StorageinbillList": JSON.stringify(data),
                        "stockinid": $("#stockinid").val(),
                        "outsourcewarehouseid": $("#deptId").val(),
                        "purchaseid": $("#purchaseid").val(),
                        "deliveryman": $("#deliveryman").val(),
                        "warehouseadmin": $("#warehouseadmin").val(),
                        "supplier": $("#supplier").val(),
                        "purchaseid": $("#purchaseid").val(),
                        "applyid": $("#applyid").val(),
                        "contractid": $("#contractid").val(),
                        "invoiceid": $("#invoiceid").val(),
                        "expressid": $("#expressid").val(),
                        "instoragecause": $("#instoragecause").val(),
                        "projectname": $("#projectname").val(),
                        "proposer": $("#proposer").val(),
                        "comments": $("#comments").val()
                    },
                    success: function(result) {
                        if (typeof callback == "function") {
                            callback(result);
                        }
                        $.operate.successTabCallback(result);
                    }
                })
                };
    }



    var url = ctx + "system/storagetype/treeData";
    var options = {
        url: url,
        expandLevel: 2,
        onClick : zOnClick
    };

    $.tree.init(options);

    function zOnClick(event, treeId, treeNode) {
       if(treeNode.name=="上海库"||treeNode.name=="天长库"){
           alert("不能选择上海库或天长库,如没有子库 请刷新!");
           return;
       }

        if(treeNode.children==null) {

            $("#deptId").val(treeNode.id);
            $("#parentId").val(treeNode.pId);
        }else{
            alert("请选择子仓库");
            $("#deptId").val("");
        }

    }





    var options = {
        uniqueId: "randomId",
        id: "bootstrap-table1",
        toolbar: "toolbar1",
        showFooter: true,
        modalName: "入库产品",
        exportUrl: ctx + "system/storageindetail" + "/export",
        height: 400,
        columns: [{
            checkbox: true
        },
            {
                field: 'id',
                title: 'null',
                visible: false
            },
            {
                field: 'no',
                title: '序号',
                align: "center",
                width: 40,
                formatter: function (value, row, index) {
                    //获取每页显示的数量
                    var pageSize=$('#bootstrap-table1').bootstrapTable('getOptions').pageSize;
                    //获取当前是第几页
                    var pageNumber=$('#bootstrap-table1').bootstrapTable('getOptions').pageNumber;
                    //返回序号，注意index是从0开始的，所以要加上1
                    return pageSize * (pageNumber - 1) + index + 1;
                }
            },
            {
                field: 'materialcode',
                title: '物料代码'
            },
            {
                field: 'name',
                title: '物料名称'
            },
            {
                field: 'partnumber',
                title: '物料型号'
            },
            {
                field: 'comments',
                title: '备注',
                editable: {
                    title : '备注'
                }
            },
            {
                field: 'serialNumber',
                title: '序列号',
                editable: {
                    title : '序列号'
                }
            },
            {
                field: 'manufacture',
                title: '品牌'
            },

            {
                field: 'unit',
                title: '单位'
            },
            {
                field: 'price',
                title: '单价'


            },

            {
                field: 'counts',
                title: '数量',
                editable: {
                    title : '数量'
                }
            },
            {
                field: 'money',
                title: '总价',
                editable: {
                    title : '总价'
                },footerFormatter:function (value) {
                    var sumBalance = 0;
                    for (var i in value) {
                        sumBalance += parseFloat(value[i].money);
                    }
                    return "总金额：" + sumBalance;
                }
            },
            {
                field: 'rate',
                title: '税率',
                editable : {
                    type : 'select',
                    title : '税率',
                    source : [
                        {
                            value : "3%",
                            text : "3%"
                        }, {
                            value : "13%",
                            text : "13%"
                        }, {
                            value : "11%",
                            text : "11%"
                        }, {
                            value : "6%",
                            text : "6%"
                        }, {
                            value : "1%",
                            text : "1%"
                        }]
                }
            },
            {
                field: 'taxamount',
                title: '税额'

            },

            {
                field: 'footprint',
                title: '封装'
            },
           {
                field: 'randomId',
                title: 'randomId',
                visible: false
            }
        ] ,onEditableSave: function (field, row, oldValue,$el) {

            row.price = (row.money / row.counts).toFixed(4);

            if (row.rate != "") {
                row.taxamount =(row.money * (row.rate.substring(0, row.rate.length - 1) * 0.01)).toFixed(2);;
            }


            $('#bootstrap-table1').bootstrapTable('updateRow', {index: row.randomId, row: row});

        }
    };
    $.table.init(options);


    var options = {
        id: "bootstrap-table2",
        toolbar: "toolbar2",
        url: prefix + "/list",
        modalName: "入库产品",
        columns: [{
            checkbox: true
        },
            {
                field: 'id',
                title: 'null',
                visible: false
            },{
                field: 'no',
                title: '序号',
                align: "center",
                width: 40,
                formatter: function (value, row, index) {
                    //获取每页显示的数量
                    var pageSize=$('#bootstrap-table2').bootstrapTable('getOptions').pageSize;
                    //获取当前是第几页
                    var pageNumber=$('#bootstrap-table2').bootstrapTable('getOptions').pageNumber;
                    //返回序号，注意index是从0开始的，所以要加上1
                    return pageSize * (pageNumber - 1) + index + 1;
                }
            },
            {
                field: 'name',
                title: '名称'
            },
            {
                field: 'materialcode',
                title: '编码'
            },
            {
                field: 'partnumber',
                title: '型号'
            },
            {
                field: 'description',
                title: '描述'
            },
            {
                field: 'footprint',
                title: '封装'
            },
            {
                field: 'manufacture',
                title: '品牌'
            },
            {
                field: 'unit',
                title: '单位'
            }
        ]
    };
    $.table.init(options);


    var t=new Date();
    var y = t.getFullYear();
    var mt = t.getMonth() + 1;
    var day = t.getDate();
    if(mt<10){
        mt="0"+mt;
    }
    if(day<10){
        day="0"+day;
    }
    $.ajax({
        url : '../storageinbill/getstockinid',
        dataType : 'json',
        type : 'post',
        success : function(result) {
            if(result<10){
                result="00"+result;
            }else  if(result<100){
                result="0"+result;
            }
            $("#stockinid").val("RKD-"+y+""+mt+""+day+"-"+result);
        }
    });
    //解决table缓存问题

    function clonerow() {
        var randomId = 100 + ~~(Math.random() * 100)
        var data = $("#" + table.options.id).bootstrapTable('getSelections');
        var datas = $("#bootstrap-table1").bootstrapTable('getData');
      for (var i=0;i<data.length;i++){
          $("#bootstrap-table1").bootstrapTable('insertRow', {
              index: datas.length+i, // 你想插入到哪，0表示第一行
              row: {
                  id: data[i].id,
                  name: data[i].name,
                  materialcode: data[i].materialcode,
                  partnumber: data[i].partnumber,
                  footprint: data[i].footprint,
                  manufacture: data[i].manufacture,
                  unit: data[i].unit,
                  comments:"",
                  taxamount:"",
                  rate:"",
                  serialNumber:"",
                  price:"",
                  money:"",
                  counts:"",
                  randomId:randomId
              }
          })
      }
        $("#bootstrap-table2").bootstrapTable('uncheckAll');


    }



    function insertRow() {
        var randomId = 100 + ~~(Math.random() * 100)
        var data = $("#" + table.options.id).bootstrapTable('getSelections');
        if (data == null || data.length == 0 || data.length > 1) {
            alert("请选中一行");
            return;
        }
        for (var i = 0; i < data.length; i++) {
            $("#bootstrap-table1").bootstrapTable('insertRow', {
                index: data.length+i, // 你想插入到哪，0表示第一行
                row: {
                    id: data[i].id,
                    name: data[i].name,
                    materialcode: data[i].materialcode,
                    partnumber: data[i].partnumber,
                    footprint: data[i].footprint,
                    manufacture: data[i].manufacture,
                    unit: data[i].unit,
                    comments:data[i].comments,
                    taxamount:data[i].taxamount,
                    rate:data[i].rate,
                    serialNumber:data[i].serialNumber,
                    price: data[i].price,
                    money: data[i].money,
                    counts: data[i].counts,
                    randomId:randomId
                }
            })
        }
        $("#bootstrap-table2").bootstrapTable('uncheckAll');
    }
    /* 删除指定表格行 */
    function removeRow(){
        var ids = $.table.selectColumns("randomId");
        if (ids.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $("#" + table.options.id).bootstrapTable('remove', {
            field: 'randomId',
            values: ids
        })
    }



    /* 删除所有表格行 */
    function removeRowAll(){

        $("#" + table.options.id).bootstrapTable('removeAll')
    }




</script>
</body>
</html>