<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改入库单列表')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
    <th:block th:include="include :: bootstrap-editable-css" />


</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-storageinbill-add">
        <h4 class="form-header h4">退料单信息</h4>



        <div class="row">
            <div class="col-sm-6">
                <label class="col-sm-3 control-label">退料单号：</label>
                <div class="col-sm-8">
                    <input name="storagequitbillid" readonly id="storagequitbillid"  class="form-control" type="text">
                </div>

            </div>
            <div class="col-sm-6">
                <label class="col-sm-3 control-label">退料人：</label>
                <div class="col-sm-8">
                    <select  name="outpeople" id="outpeople" class="form-control m-b">
                        <option value="">所有</option>
                        <option  th:each="user:${userList}"
                                 th:value="${user.userName}"
                                 th:text="${user.userName}"
                                 th:selected="${user.userName}==*{userName}"                        ></option>
                    </select>
                </div>
        </div>




        <div class="row">
            <div class="col-sm-6">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="comments" id="comments" class="form-control" type="text">
                </div>

            </div>

            <div class="col-sm-6">
                <label class="col-sm-3 control-label">退料原因：</label>
                <div class="col-sm-8">
                    <input name="outstoragecause" id="outstoragecause" class="form-control" type="text">
                </div>

            </div>


        </div>

            <div class="col-sm-6">
                <label class="col-sm-3 control-label">外协库：</label>
                <div class="col-sm-8">
                    <div class="ui-layout-content">
                        <div id="tree"   class="ztree"></div>
                        <input id="deptId" name="outsourcewarehouse" required hidden="hidden">
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <label class="col-sm-3 control-label">外协库备注：</label>
                    <div class="col-sm-8">
                        <input name="outsourcewarehousecomments" id="outsourcewarehousecomments" class="form-control" type="text">
                    </div>

                </div>
            </div>
    </form>

</div>
<h4 class="form-header h4">退料产品</h4>
<div class="container-div">
    <div class="btn-group-sm" id="toolbar1" role="group">
        <a class="btn btn-success" onclick="insertRow()">
            <i class="fa fa-plus"></i> 新增行
        </a>
        <a class="btn btn-danger multiple disabled" onclick="removeRow()">
            <i class="fa fa-remove"></i> 删除选择行
        </a>
        <a class="btn btn-danger" onclick="removeRowAll()">
            <i class="fa fa-remove"></i> 删除所有行
        </a>
    </div>
    <div class="col-xs-12 select-table table-striped" style="margin-bottom: 3%;">
        <table id="bootstrap-table1"></table>
    </div>

    <h4 class="form-header h4" >库存列表</h4>

    <div class="ui-layout-center">
        <div class="container-div">



            <div class="row">
                <div class="col-sm-12 search-collapse">
                    <form id="form2">
                        <div class="select-list">
                            <ul>
                                <input type="hidden" id="deptId1" name="deptId">
                                <input type="hidden" id="parentId" name="parentId">
                                <li>
                                    <label>名称：</label>
                                    <input type="text" name="name"/>
                                </li>
                                <li>
                                    <label>型号：</label>
                                    <input type="text" name="partnumber"/>
                                </li>
                                <li>
                                    <label>封装：</label>
                                    <input type="text" name="footprint"/>
                                </li>
                                <li>
                                    <label>描述：</label>
                                    <input type="text" name="description"/>
                                </li>
                                <li>
                                    <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('form2', 'bootstrap-table2')"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('form2', 'bootstrap-table2')"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="btn-group-sm" id="toolbar2" role="group">

                    <a class="btn btn-success" onclick="clonerow()">
                        <i class="fa fa-plus"></i> 移入
                    </a>

                </div>
                <div class="col-xs-12 select-table table-striped" style="margin-bottom: 2%">
                    <table id="bootstrap-table2" ></table>
                </div>
                <div class="row">
                    <div class="col-sm-offset-5 col-sm-10">
                        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
                        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
                    </div>
                </div>
                <th:block th:include="include :: footer" />
                <th:block th:include="include :: layout-latest-js" />
                <th:block th:include="include :: ztree-js" />
                <th:block th:include="include :: bootstrap-table-editable-js" />
                <script type="text/javascript">
                    var prefix = ctx + "system/storage"
                    $("#form-storageinbill-add").validate({
                        focusCleanup: true
                    });

                    function submitHandler() {

                        if($("#deptId").val()==""){
                            alert("请选择子仓库");
                            return;
                        }
                        if ($.validate.form()) {

                            var data = $("#bootstrap-table1" ).bootstrapTable('getData');
                            if(data==null||data.length==0){
                                alert("请填写入库产品");
                                return;
                            }
                            for(var i=0;i<data.length;i++){
                                if(data[i].counts<=0){
                                    alert("入库数量必须大于0!")
                                    return;
                                }
                            }
                            $.ajax({
                                url:  ctx + "system/storage/quit",
                                type: "post",
                                dataType: "json",
                                beforeSend: function () {
                                    $.modal.loading("正在处理中，请稍后...");
                                },
                                data: {
                                    "StoragequitbillList": JSON.stringify(data),
                                    "storagequitbillid": $("#storagequitbillid").val(),
                                    "outsourcewarehouseid": $("#deptId").val(),
                                    "outpeople": $("#outpeople").val(),
                                    "outstoragecause": $("#outstoragecause").val(),
                                     "comments": $("#comments").val(),
                                    "outsourcewarehousecomments":$("#outsourcewarehousecomments").val()
                                },

                                success: function(result) {
                                    if (typeof callback == "function") {
                                        callback(result);
                                    }
                                    $.operate.successTabCallback(result);
                                }
                            })
                        };
                    }

                    var url = ctx + "system/storagetype/treeData";
                    var options = {
                        url: url,
                        expandLevel: 2,
                        onClick : zOnClick
                    };

                    $.tree.init(options);

                    function zOnClick(event, treeId, treeNode) {

                     /*   if(treeNode.name=="上海库"||treeNode.name=="天长库"){
                            alert("不能选择上海库或天长库,如没有子库 请刷新!");
                            return;
                        }
*/
                        $("#deptId").val(treeNode.id);
                        $("#deptId1").val(treeNode.id);
                        $("#parentId").val(treeNode.pId);
                        query();
                        $.table.search('form2', 'bootstrap-table2')
                       /* if(treeNode.children==null) {
                            $("#deptId").val(treeNode.id);
                            $("#deptId1").val(treeNode.id);
                            $("#parentId").val(treeNode.pId);
                            query();
                            $.table.search('form2', 'bootstrap-table2')
                        }else{
                            alert("请选择子仓库");
                            $("#deptId").val("");
                        }
*/
                    }





                    var options = {
                        uniqueId: "randomId",
                        id: "bootstrap-table1",
                        toolbar: "toolbar1",
                        showFooter: true,
                        showSearch: false,
                        showRefresh: false,
                        showColumns: false,
                        pagination: false,
                        height: 400,
                        columns: [{
                            checkbox: true
                        },
                            {
                                field: 'id',
                                title: 'null',
                                visible: false
                            },
                            {
                                field: 'no',
                                title: '序号',
                                sortable: true,
                                align: "center",
                                width: 40,
                                formatter: function (value, row, index) {
                                    //获取每页显示的数量
                                    var pageSize=$('#bootstrap-table2').bootstrapTable('getOptions').pageSize;
                                    //获取当前是第几页
                                    var pageNumber=$('#bootstrap-table2').bootstrapTable('getOptions').pageNumber;
                                    //返回序号，注意index是从0开始的，所以要加上1
                                    return pageSize * (pageNumber - 1) + index + 1;
                                }
                            },
                            {
                                field: 'materialcode',
                                title: '物料代码'
                            },
                            {
                                field: 'name',
                                title: '物料名称'
                            },
                            {
                                field: 'partnumber',
                                title: '物料型号'
                            },

                            {
                                field: 'manufacture',
                                title: '品牌'
                            },
                            {
                                field: 'comments',
                                title: '备注',
                                editable: {
                                    title : '备注'
                                }
                            },
                            {
                                field: 'unit',
                                title: '单位'
                            },
                            {
                                field: 'price',
                                title: '单价'

                            },
                            {
                                field: 'counts',
                                title: '数量',
                                editable: {
                                    title : '数量'
                                }
                            },
                            {
                                field: 'money',
                                title: '总价',
                               footerFormatter:function (value) {
                                    var sumBalance = 0;
                                    for (var i in value) {
                                        sumBalance += parseFloat(value[i].money);
                                    }
                                    return "总金额：" + sumBalance;
                                }
                            },

                            {
                                field: 'serialNumber',
                                title: '序列号'
                            },

                            {
                                field: 'supplier',
                                title: '供应商'

                            },   {
                                field: 'footprint',
                                title: '封装'
                            },
                            {
                                field: 'randomId',
                                title: 'randomId',
                                visible: false
                            }
                        ] ,onEditableSave: function (field, row, oldValue,$el) {

                            row.money = (row.price * row.counts).toFixed(2);;
                            $('#bootstrap-table1').bootstrapTable('updateRow', {index: row.randomId, row: row});

                        }
                    };

                    $.table.init(options);




                    var t=new Date();
                    var y = t.getFullYear();
                    var mt = t.getMonth() + 1;
                    var day = t.getDate();
                    if(mt<10){
                        mt="0"+mt;
                    }
                    if(day<10){
                        day="0"+day;
                    }
                    $.ajax({
                        url : '../storagequitbill/getstoragequitbillid',
                        dataType : 'json',
                        type : 'post',
                        success : function(result) {
                            if(result<10){
                                result="00"+result;
                            }else  if(result<100){
                                result="0"+result;
                            }
                            $("#storagequitbillid").val("TLD-"+y+""+mt+""+day+"-"+result);

                        }
                    });


                    function clonerow() {
                        var randomId = 100 + ~~(Math.random() * 100)
                        var data = $("#" + table.options.id).bootstrapTable('getSelections');
                        var datas = $("#bootstrap-table1").bootstrapTable('getData');

                        for (var i=0;i<data.length;i++){
                            $("#bootstrap-table1").bootstrapTable('insertRow', {
                                index: datas.length+i, // 你想插入到哪，0表示第一行
                                row: {
                                    id: data[i].id,
                                    name: data[i].name,
                                    materialcode: data[i].materialcode,
                                    partnumber: data[i].partnumber,
                                    footprint: data[i].footprint,
                                    manufacture: data[i].manufacture,
                                    unit: data[i].unit,
                                    comments:"",
                                    serialNumber:data[i].serialNumber,
                                    supplier:data[i].supplier,
                                    price:data[i].price,
                                    money:"",
                                    counts:"",
                                    randomId:randomId
                                }
                            })
                        }



                    }



                    function insertRow() {

                        var randomId = 100 + ~~(Math.random() * 100)
                        var data = $("#" + table.options.id).bootstrapTable('getSelections');
                        if (data == null || data.length == 0 || data.length > 1) {
                            alert("请选中一行");
                            return;
                        }
                        for (var i = 0; i < data.length; i++) {
                            $("#bootstrap-table1").bootstrapTable('insertRow', {
                                index: data.length+i, // 你想插入到哪，0表示第一行
                                row: {
                                    id: data[i].id,
                                    name: data[i].name,
                                    materialcode: data[i].materialcode,
                                    partnumber: data[i].partnumber,
                                    footprint: data[i].footprint,
                                    manufacture: data[i].manufacture,
                                    unit: data[i].unit,
                                    comments:data[i].comments,
                                    serialNumber:data[i].serialNumber,
                                    supplier:data[i].supplier,
                                    price: data[i].price,
                                    money: data[i].money,
                                    counts: data[i].counts,
                                    randomId:randomId,

                                }
                            })
                        }
                    }
                    /* 删除指定表格行 */
                    function removeRow(){
                        var ids = $.table.selectColumns("randomId");
                        if (ids.length == 0) {
                            $.modal.alertWarning("请至少选择一条记录");
                            return;
                        }
                        $("#" + table.options.id).bootstrapTable('remove', {
                            field: 'randomId',
                            values: ids
                        })
                    }



                    /* 删除所有表格行 */
                    function removeRowAll(){

                        $("#" + table.options.id).bootstrapTable('removeAll')
                    }


                    function query() {
                        var options = {
                            id: "bootstrap-table2",
                            toolbar: "toolbar2",
                            url: prefix + "/list",
                            modalName: "物料列表",
                            columns: [{
                                checkbox: true
                            },
                                {
                                    field: 'id',
                                    title: 'null',
                                    visible: false
                                },{
                                    field: 'no',
                                    title: '序号',
                                    align: "center",
                                    width: 40,
                                    formatter: function (value, row, index) {
                                        //获取每页显示的数量
                                        var pageSize=$('#bootstrap-table2').bootstrapTable('getOptions').pageSize;
                                        //获取当前是第几页
                                        var pageNumber=$('#bootstrap-table2').bootstrapTable('getOptions').pageNumber;
                                        //返回序号，注意index是从0开始的，所以要加上1
                                        return pageSize * (pageNumber - 1) + index + 1;
                                    }
                                },
                                {
                                    field: 'materialcode',
                                    title: '编码'
                                },
                                {
                                    field: 'name',
                                    title: '名称'
                                },

                                {
                                    field: 'partnumber',
                                    title: '型号'
                                },
                                {
                                    field: 'unit',
                                    title: '单位'
                                },
                                {
                                    field: 'stocks',
                                    title: '库存量'
                                },
                                {
                                    field: 'footprint',
                                    title: '封装'
                                },
                                {
                                    field: 'price',
                                    title: '单价'
                                },

                                {
                                    field: 'manufacture',
                                    title: '品牌'
                                },

                                {
                                    field: 'supplier',
                                    title: '供应商'
                                },
                               {
                                    field: 'serialNumber',
                                    title: '序列号'
                                },
                                {
                                    field: 'footprint',
                                    title: '封装',
                                    width:160
                                },
                                {
                                    field: 'description',
                                    title: '描述',
                                    width:180

                                },
                            ]
                        };
                        $.table.init(options);

                    }



                </script>
</body>
</html>